# Homework 2

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### NAME : Wesley Chen
### ID : 3031961388

### Mandatory : Please print the output of each question below your code

## Lists

1.1 Create an empty Python list called 'a' in the cell below.

In [143]:
#your code here
a = []
print(a)

[]

1.2 Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [144]:
#your code here
for i in range(1, 101, 3):
    a.append(i)
print(a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100]

1.3 Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [145]:
#your code here
a2 = []
for i in range(2, 47):
    a2.append(i)
    if i < 46:
        a2.append(i + 0.5)
print(a2)

[2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10, 10.5, 11, 11.5, 12, 12.5, 13, 13.5, 14, 14.5, 15, 15.5, 16, 16.5, 17, 17.5, 18, 18.5, 19, 19.5, 20, 20.5, 21, 21.5, 22, 22.5, 23, 23.5, 24, 24.5, 25, 25.5, 26, 26.5, 27, 27.5, 28, 28.5, 29, 29.5, 30, 30.5, 31, 31.5, 32, 32.5, 33, 33.5, 34, 34.5, 35, 35.5, 36, 36.5, 37, 37.5, 38, 38.5, 39, 39.5, 40, 40.5, 41, 41.5, 42, 42.5, 43, 43.5, 44, 44.5, 45, 45.5, 46]

1.4 Double every even integer element from list 'a'. Store the results back in 'a'.

In [146]:
#your code here
d = []
for i in a:
    if i % 2 == 0:
        d.append(i*2)
    else:
        d.append(i)
a = d
print(a)

[1, 8, 7, 20, 13, 32, 19, 44, 25, 56, 31, 68, 37, 80, 43, 92, 49, 104, 55, 116, 61, 128, 67, 140, 73, 152, 79, 164, 85, 176, 91, 188, 97, 200]

1.5 Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1 and similarly for the 21st element).

In [147]:
#your code here
a.pop(1)
a.pop(19)
print(sum(a))

2532

1.6 Calculate the mean of 'a'.

In [148]:
#your code here
mean = sum(a) / len(a)
print(mean)

79.125

1.7 Delete all elements greater than the mean value from list 'a'

In [149]:
#your code here
d = []
for i in a:
    if i <= mean:
        d.append(i)
a = d
print(a)

[1, 7, 20, 13, 32, 19, 44, 25, 56, 31, 68, 37, 43, 49, 55, 67, 73, 79]

## Strings

2.1 Create an empty list called 'b'.

In [150]:
#your code here
b = []

2.2 Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [151]:
#your code here
b = 'I am so excited about Data-X. It is important to be able to work with data.'.replace('.',' .').split(' ')
print(b)

['I', 'am', 'so', 'excited', 'about', 'Data-X', '.', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data', '.']

2.3 Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [152]:
#your code here
count_e = 0
for i in range(len(b)):
    count_e += b[i].count('e')
print(count_e)

4

2.4 Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [153]:
#your code here
b_replaced = []
for i in range(len(b)):
    if 'i' in b[i]:
        b_replaced.append(b[i].replace('i', '1'))
    else:
        b_replaced.append(b[i].replace('I', '1'))
b = b_replaced
print(b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X', '.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data', '.']

2.5 Append the string "This is the end of the first HW." to the list 'b'.

In [154]:
#your code here
b.append("This is the end of the first HW")
print(b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X', '.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data', '.', 'This is the end of the first HW']

2.6 Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [155]:
#your code here
b = ''.join(b)[::-1]
print(b)

WH tsrif eht fo dne eht si sihT.atadht1wkrowotelbaebottnatropm1s1t1.X-ataDtuobadet1cxeosma1

## Dictionaries

3.1 Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', 'Beta', 'Gamma', 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [156]:
#your code here
codes = {1001: 'Alpha', 1002: 'Beta', 1003: 'Gamma', 1004: 'Delta', 1005: 'Tau'}
for i in codes:
    codes[i] = codes[i].lower()
print(codes)

{1001: 'alpha', 1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

3.2 Delete 'alpha' from the dictionary.

In [157]:
#your code here
codes.pop(1001)
print(codes)

{1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

## Sets

4.1 Create a set called 'c' with the all the odd numbers less than 10.

In [158]:
#your code here
c = {1,3,5,7,9}
print(c)

{1, 3, 5, 7, 9}

4.2 Create another set called 'd' with elements 2, 5, 10, 30.

In [159]:
#your code here
d = {2,5,10,30}
print(d)

{2, 10, 5, 30}

4.3 Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [160]:
#your code here
e = c.union(d)
print(e)

{1, 2, 3, 5, 7, 9, 10, 30}

4.4 Find the intersection between sets 'c' and 'd'.

In [161]:
#your code here
c.intersection(d)

{5}