In [0]:
#Imports
from bs4 import BeautifulSoup as bs 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import re
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [0]:
msa_counties = pd.read_csv('MSA Counties.csv')
county_education = pd.read_csv('County Education.csv')

In [0]:
clean_msa = msa_counties.drop(msa_counties.columns[1], axis =1)
clean_msa.rename({clean_msa.columns.values[0]:'MSA_Code', clean_msa.columns.values[3]: 'County2'}, axis =1, inplace = True)

In [0]:
new_df_county2 = []
len_msa = len(clean_msa)
for i in range(len_msa):
    if pd.isnull(clean_msa.loc[i, 'MSA']):
        clean_msa.loc[i,'MSA'] = clean_msa.loc[i-1,'MSA']
        clean_msa.loc[i, 'MSA_Code'] = clean_msa.loc[i-1, 'MSA_Code']
    if pd.notnull(clean_msa.loc[i,'County2']):
        new_county = clean_msa.loc[i,'County2']
        c_MSA_code = clean_msa.loc[i, 'MSA_Code']
        c_MSA = clean_msa.loc[i, 'MSA']
        new_df_county2.append([c_MSA_code, c_MSA, new_county])
temp_df = pd.DataFrame(new_df_county2).rename({0: 'MSA_Code', 1: 'MSA', 2: 'County'}, axis =1)

In [0]:
clean_msa = clean_msa.append(temp_df).drop('County2', axis=1)
regex = r",[\s\S]*$"
state = []
for x in clean_msa['MSA']:
    state.append(re.findall(regex, x)[0].strip(',').strip(' '))

clean_msa['State'] = state

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [0]:
clean_msa.reset_index(inplace = True)

In [0]:
clean_msa.head()

   index            County          MSA  MSA_Code State
0      0     Taylor County  Abilene, TX      40.0    TX
1      1    Portage County    Akron, OH      80.0    OH
2      2     Summit County    Akron, OH      80.0    OH
3      3  Dougherty County   Albany, GA     120.0    GA
4      4        Lee County   Albany, GA     120.0    GA

In [0]:
#drop state names in county
states_list = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
states_list = [x + ':' for x in states_list]
state_index = []
for i in range(len(clean_msa)):
    if clean_msa.loc[i, 'County'] in states_list:
        state_index.append(i)
clean_msa.drop(state_index, inplace=True)

In [0]:
clean_msa = clean_msa[['MSA', 'MSA_Code','State', 'County']].sort_values('MSA').reset_index()

In [0]:
#function to delete the remove words in counties
def del_county(county_list):
    clean_county = []
    remove = ['County', 'Borough', 'Parish']
    for x in county_list:
        if any(word in x for word in remove):
            clean_county.append(x.rsplit(' ', 1)[0])
        else:
            clean_county.append(x)
    return clean_county
#convert str to float
def str_to_float(series):
    floats = []
    for x in series:
        if type(x) == str:
            f = float(x.replace(',', ''))
            floats.append(f)
        else:
            floats.append(x)
    return floats

In [0]:
#Delete state names in county
clean_county = []
no_state = []
regex_s = r',[\s\S]*$'
for x in clean_msa['County']:
    no_state.append(re.sub(regex_s,"", str(x)))
clean_msa['County'] = no_state

#Use del_county on clean_msa
no_county = del_county(clean_msa['County'])
clean_msa['County'] = no_county

In [0]:
clean_education = county_education.loc[:,["State", "Area name", "Bachelor's degree or higher, 2000", "Bachelor's degree or higher, 2013-17"]]
clean_education.rename({"Area name": 'County'},axis =1, inplace = True)
clean_education.dropna(inplace=True)
clean_education["Bachelor's degree or higher, 2000"] = str_to_float(clean_education["Bachelor's degree or higher, 2000"])
clean_education["Bachelor's degree or higher, 2013-17"] = str_to_float(clean_education["Bachelor's degree or higher, 2013-17"])

In [0]:
#set counties to only name w/o county, borough, parish
only_name = del_county(clean_msa['County'])
clean_msa['County'] = only_name
clean_msa

     index                             MSA  MSA_Code  State       County
0        0                     Abilene, TX      40.0     TX       Taylor
1        1                       Akron, OH      80.0     OH      Portage
2        2                       Akron, OH      80.0     OH       Summit
3        3                      Albany, GA     120.0     GA    Dougherty
4        4                      Albany, GA     120.0     GA          Lee
5      702     Albany/Schenectady/Troy, NY     160.0     NY    Schoharie
6      701     Albany/Schenectady/Troy, NY     160.0     NY  Schenectady
7      700     Albany/Schenectady/Troy, NY     160.0     NY     Saratoga
8        6     Albany/Schenectady/Troy, NY     160.0     NY   Montgomery
9        7     Albany/Schenectady/Troy, NY     160.0     NY   Rensselaer
10       5     Albany/Schenectady/Troy, NY     160.0     NY       Albany
11       8                 Albuquerque, NM     200.0     NM   Bernalillo
12      10                 Albuquerque, NM     200.0     NM     Valencia
13       9                 Albuquerque, NM     200.0     NM     Sandoval
14      11                  Alexandria, LA     220.0     LA      Rapides
15      12  Allentown/Bethlehem/Easton, PA     240.0     PA       Carbon
16      14  Allentown/Bethlehem/Easton, PA     240.0     PA  Northampton
17      13  Allentown/Bethlehem/Easton, PA     240.0     PA       Lehigh
18      15                     Altoona, PA     280.0     PA        Blair
19      16                    Amarillo, TX     320.0     TX       Potter
20      17                    Amarillo, TX     320.0     TX      Randall
21      18                   Anchorage, AK     380.0     AK    Anchorage
22      19                   Ann Arbor, MI     440.0     MI      Lenawee
23      20                   Ann Arbor, MI     440.0     MI   Livingston
24      21                   Ann Arbor, MI     440.0     MI    Washtenaw
25      22                    Anniston, AL     450.0     AL      Calhoun
26      23     Appleton/Oshkosh/Neenah, WI     460.0     WI      Calumet
27      24     Appleton/Oshkosh/Neenah, WI     460.0     WI    Outagamie
28      25     Appleton/Oshkosh/Neenah, WI     460.0     WI    Winnebago
29      26                   Asheville, NC     480.0     NC     Buncombe
..     ...                             ...       ...    ...          ...
865    671                   Waterbury, CT    8880.0     CT    New Haven
866    670                   Waterbury, CT    8880.0     CT   Litchfield
867    672        Waterloo/Cedar Falls, IA    8920.0     IA   Black Hawk
868    673                      Wausau, WI    8940.0     WI     Marathon
869    674  West Palm Beach/Boca Raton, FL    8960.0     FL   Palm Beach
870    677                 Wheeling, WV/OH    9000.0  WV/OH         Ohio
871    676                 Wheeling, WV/OH    9000.0  WV/OH     Marshall
872    675                 Wheeling, WV/OH    9000.0  WV/OH      Belmont
873    681               Wichita Falls, TX    9080.0     TX       Archer
874    682               Wichita Falls, TX    9080.0     TX      Wichita
875    679                     Wichita, KS    9040.0     KS       Harvey
876    678                     Wichita, KS    9040.0     KS       Butler
877    680                     Wichita, KS    9040.0     KS     Sedgwick
878    683                Williamsport, PA    9140.0     PA     Lycoming
879    686                  Wilmington, NC    9200.0     NC    Brunswick
880    687                  Wilmington, NC    9200.0     NC  New Hanover
881    684        Wilmington/Newark, DE/MD    9160.0  DE/MD   New Castle
882    685        Wilmington/Newark, DE/MD    9160.0  DE/MD        Cecil
883    688               Worchester, MA/CT    9240.0  MA/CT      Windham
884    690               Worchester, MA/CT    9240.0  MA/CT   Worchester
885    689               Worchester, MA/CT    9240.0  MA/CT      Hampton
886    691                      Yakima, WA    9260.0     WA       Yakima
887    692                        Yolo, CA    9270.0     CA         Yolo
888    693                        York, PA    9280.0     PA         York
889    696           Youngstown/Warren, OH    9320.0     OH     Trumbull
890    694           Youngstown/Warren, OH    9320.0     OH   Columbiana
891    695           Youngstown/Warren, OH    9320.0     OH     Mahoning
892    698                   Yuba City, CA    9340.0     CA         Yuba
893    697                   Yuba City, CA    9340.0     CA       Sutter
894    699                        Yuma, AZ    9360.0     AZ         Yuma

[895 rows x 5 columns]

In [0]:
#Business Patterns (2000) by county

business_2000_county = pd.read_csv("cbp00co.txt")

business_2000_county2 = business_2000_county.loc[:, ["fipstate", "fipscty", "est"]].rename(columns={"fipstate":
                                                                                                    "State Code", 
                                                                                                    "fipscty":"County Code", 
                                                                                                   "est":"Total Number of Enterprises"})

business_2000_county3 = business_2000_county2.groupby(["State Code", "County Code"]).sum()

business_2000_county4 = business_2000_county3.reset_index()

business_2000_county4.head()

   State Code  County Code  Total Number of Enterprises
0           1            1                         4574
1           1            3                        23040
2           1            5                         3418
3           1            7                         1970
4           1            9                         4432

In [0]:
#Business Patterns (2010) by county

business_2010_county = pd.read_csv("cbp10co.txt")

business_2010_county2 = business_2010_county.loc[:, ["fipstate", "fipscty", "est"]].rename(columns={"fipstate":
                                                                                                    "State Code", 
                                                                                                    "fipscty":"County Code", 
                                                                                                   "est":"Total Number of Enterprises"})

business_2010_county3 = business_2010_county2.groupby(["State Code", "County Code"]).sum()

business_2010_county4 = business_2010_county3.reset_index()

business_2010_county4.head()

   State Code  County Code  Total Number of Enterprises
0           1            1                         5222
1           1            3                        27954
2           1            5                         3088
3           1            7                         1754
4           1            9                         4198

In [0]:
#Merging together businesses features by county

businesses_feature_df =  business_2000_county4.merge(business_2010_county4, on = ["State Code", "County Code"], how = "left")

businesses_feature_df2= businesses_feature_df.rename(columns={"Total Number of Enterprises_x":"Total Number of Enterprises (2000)", 
                                                             "Total Number of Enterprises_y":"Total Number of Enterprises (2010)"})

businesses_feature_df2["Quantitative Change"] = businesses_feature_df2["Total Number of Enterprises (2010)"] - businesses_feature_df2["Total Number of Enterprises (2000)"]

businesses_feature_df3 = businesses_feature_df2.drop(columns=["Quantitative Change"])
                                        

businesses_feature_df4 = businesses_feature_df3

businesses_feature_df4.head()

,State Code,County Code,Total Number of Enterprises (2000),Total Number of Enterprises (2010)
0,1,1,4574,5222.0
1,1,3,23040,27954.0
2,1,5,3418,3088.0
3,1,7,1970,1754.0
4,1,9,4432,4198.0

In [0]:
#Working with FIPS Codes dataset
fips_codes_df = pd.read_csv("US_FIPS_Codes.csv")

fips_codes_df2 = fips_codes_df.drop(fips_codes_df.index[0])

fips_codes_df3 = fips_codes_df2.rename(columns={"U.S. FIPS County Codes":"State Name", "Unnamed: 1": "County Name", 
                                               "Unnamed: 2":"State Code", "Unnamed: 3": "County Code"})

fips_codes_df3["State Name"] = fips_codes_df3["State Name"].map({"Alabama":"AL", "Alaska":"AK", "Arizona":"AZ", 
                                                                 "Arkansas":"AR", "California":"CA", "Colorado":"CO", 
                                                                "Connecticut":"CT", "Delaware":"DE", "Florida":"FL", 
                                                                 "Georgia":"GA", "Hawaii":"HI", "Idaho":"ID", "Illinois":"IL", 
                                                                "Indiana":"IN", "Iowa":"IA", "Kansas":"KS", "Kentucky":"KY", 
                                                                "Louisiana":"LA", "Maine":"ME", "Maryland":"MD", "Massachusetts":"MA", 
                                                                "Michigan":"MI", "Minnesota":"MN", "Mississippi":"MS", "Missouri":"MO",
                                                                "Montana":"MT", "Nebraska":"NE", "Nevada":"NV", "New Hampshire":"NH", 
                                                                "New Jersey":"NJ", "New Mexico":"NM", "New York":"NY", "North Carolina":"NC", 
                                                                "North Dakota":"ND", "Ohio":"OH", "Oklahoma":"OK", "Oregon":"OR", "Pennsylvania":"PA",
                                                                "Rhode Island":"RI", "South Carolina":"SC", "South Dakota":"SD", "Tennessee":"TN", 
                                                                "Texas":"TX", "Utah":"UT", "Vermont":"VT", "Virginia":"VA", "Washington":"WA", "West Virginia":"WV", 
                                                                "Wisconsin":"WI", "Wyoming":"WY"})

fips_codes_df4 = fips_codes_df3

fips_codes_df4.head()

  State Name County Name State Code County Code
1         AL     Autauga         01         001
2         AL     Baldwin         01         003
3         AL     Barbour         01         005
4         AL        Bibb         01         007
5         AL      Blount         01         009

In [0]:
fips_codes_df4["State Code"] = fips_codes_df4["State Code"].astype(int)
fips_codes_df4["County Code"] = fips_codes_df4["County Code"].astype(int)

fips_codes_df5 = fips_codes_df4

fips_codes_df5.head()

  State Name County Name  State Code  County Code
1         AL     Autauga           1            1
2         AL     Baldwin           1            3
3         AL     Barbour           1            5
4         AL        Bibb           1            7
5         AL      Blount           1            9

In [0]:
final_businesses_df1 = businesses_feature_df4.merge(fips_codes_df5, on = ["State Code", "County Code"], how = "left")

final_businesses_df2 = final_businesses_df1

final_businesses_df3 = final_businesses_df2.drop(columns=["State Code", "County Code"])

final_businesses_df4 = final_businesses_df3.rename(columns={"State Name":"State", "County Name":"County"})

final_businesses_df4.head()

,Total Number of Enterprises (2000),Total Number of Enterprises (2010),State,County
0,4574,5222.0,AL,Autauga
1,23040,27954.0,AL,Baldwin
2,3418,3088.0,AL,Barbour
3,1970,1754.0,AL,Bibb
4,4432,4198.0,AL,Blount

In [0]:
clean_education_county = del_county(clean_education['County'])

clean_education2 = clean_education.copy()
clean_education2['County'] = clean_education_county
educ_business = clean_education2.merge(final_businesses_df4, how = 'inner', on = ['County','State'])
educ_business

,State,County,"Bachelor's degree or higher, 2000","Bachelor's degree or higher, 2013-17",Total Number of Enterprises (2000),Total Number of Enterprises (2010)
0,AL,Autauga,4972.0,9176.0,4574,5222.0
1,AL,Baldwin,22146.0,43968.0,23040,27954.0
2,AL,Barbour,2068.0,2218.0,3418,3088.0
3,AL,Bibb,962.0,2097.0,1970,1754.0
4,AL,Blount,3235.0,5172.0,4432,4198.0
5,AL,Bullock,586.0,990.0,816,720.0
6,AL,Butler,1433.0,2253.0,2992,2526.0
7,AL,Calhoun,11265.0,14113.0,15288,14550.0
8,AL,Chambers,2339.0,3158.0,3834,3422.0
9,AL,Cherokee,1636.0,2344.0,2128,2136.0
10,AL,Chilton,2574.0,4484.0,4602,4398.0
11,AL,Choctaw,1013.0,1100.0,1810,1614.0
12,AL,Clarke,2137.0,2193.0,4390,3744.0
13,AL,Clay,763.0,970.0,1370,1164.0
14,AL,Cleburne,879.0,1283.0,1158,1026.0
15,AL,Coffee,5574.0,7877.0,5702,6124.0
16,AL,Colbert,5273.0,7207.0,8104,7704.0
17,AL,Conecuh,851.0,768.0,1538,1276.0
18,AL,Coosa,663.0,892.0,764,564.0
19,AL,Covington,3142.0,4099.0,5466,5176.0
20,AL,Crenshaw,1039.0,1562.0,1524,1422.0
21,AL,Cullman,6162.0,8457.0,10046,10398.0
22,AL,Dale,4398.0,5587.0,5016,5022.0
23,AL,Dallas,4004.0,3809.0,5618,4680.0
24,AL,Elmore,7173.0,12629.0,6442,6658.0
25,AL,Escambia,2693.0,3146.0,5110,4588.0
26,AL,Etowah,9372.0,12119.0,12814,12172.0
27,AL,Fayette,1157.0,1712.0,2082,2028.0
28,AL,Franklin,2021.0,2778.0,3580,3232.0
29,AL,Geneva,1526.0,2076.0,2724,2528.0
...,...,...,...,...,...,...
3002,WI,Washburn,1715.0,2581.0,3400,3090.0
3003,WI,Washington,17057.0,27842.0,18500,18840.0
3004,WI,Waukesha,82263.0,119204.0,74806,75052.0
3005,WI,Waupaca,5156.0,6866.0,8094,7468.0
3006,WI,Waushara,1911.0,2748.0,3104,2828.0
3007,WI,Winnebago,23028.0,31051.0,22140,21584.0
3008,WI,Wood,8486.0,10973.0,11342,10982.0
3009,WY,Albany,7499.0,10404.0,6028,6072.0
3010,WY,Big Horn,1170.0,1543.0,1738,1818.0
3011,WY,Campbell,3150.0,5640.0,6994,8912.0
3012,WY,Carbon,1803.0,2223.0,3338,3176.0
3013,WY,Converse,1152.0,1730.0,2216,2680.0
3014,WY,Crook,679.0,1060.0,1082,1362.0
3015,WY,Fremont,4537.0,6231.0,7682,8038.0
3016,WY,Goshen,1566.0,2301.0,2274,2040.0
3017,WY,Hot Springs,630.0,777.0,1178,1154.0
3018,WY,Johnson,1107.0,1624.0,1920,2416.0
3019,WY,Laramie,12438.0,18695.0,13620,16178.0
3020,WY,Lincoln,1555.0,2554.0,2842,3622.0
3021,WY,Natrona,8538.0,12402.0,15574,17450.0
3022,WY,Niobrara,265.0,324.0,550,488.0
3023,WY,Park,4057.0,6661.0,6834,7254.0
3024,WY,Platte,918.0,1423.0,1582,1638.0
3025,WY,Sheridan,4026.0,6594.0,6416,7044.0
3026,WY,Sublette,872.0,1793.0,1914,2814.0
3027,WY,Sweetwater,3928.0,6306.0,6412,8046.0
3028,WY,Teton,5878.0,9205.0,9904,11138.0
3029,WY,Uinta,1712.0,2259.0,3294,3650.0
3030,WY,Washakie,1022.0,1198.0,2256,2256.0
3031,WY,Weston,660.0,1007.0,1232,1356.0

In [0]:
clean_msa2 = clean_msa.merge(educ_business, how = 'left', on = 'County')
clean_msa2

,index,MSA,MSA_Code,State_x,County,State_y,"Bachelor's degree or higher, 2000","Bachelor's degree or higher, 2013-17",Total Number of Enterprises (2000),Total Number of Enterprises (2010)
0,0,"Abilene, TX",40.0,TX,Taylor,FL,1147.0,1390.0,2274.0,2446.0
1,0,"Abilene, TX",40.0,TX,Taylor,GA,476.0,652.0,838.0,752.0
2,0,"Abilene, TX",40.0,TX,Taylor,IA,571.0,623.0,992.0,834.0
3,0,"Abilene, TX",40.0,TX,Taylor,KY,1857.0,3111.0,4036.0,3678.0
4,0,"Abilene, TX",40.0,TX,Taylor,TX,16951.0,19767.0,20822.0,20170.0
5,0,"Abilene, TX",40.0,TX,Taylor,WV,1255.0,2281.0,1272.0,1322.0
6,0,"Abilene, TX",40.0,TX,Taylor,WI,1418.0,2030.0,2820.0,2776.0
7,1,"Akron, OH",80.0,OH,Portage,OH,19779.0,28529.0,18548.0,17782.0
8,1,"Akron, OH",80.0,OH,Portage,WI,9378.0,14080.0,9728.0,9678.0
9,2,"Akron, OH",80.0,OH,Summit,CO,7630.0,10694.0,10942.0,12568.0
10,2,"Akron, OH",80.0,OH,Summit,OH,91096.0,119093.0,86042.0,81578.0
11,2,"Akron, OH",80.0,OH,Summit,UT,8363.0,14120.0,8808.0,12114.0
12,3,"Albany, GA",120.0,GA,Dougherty,GA,10347.0,12055.0,15376.0,14710.0
13,4,"Albany, GA",120.0,GA,Lee,AL,17351.0,32222.0,11860.0,14100.0
14,4,"Albany, GA",120.0,GA,Lee,AR,577.0,579.0,932.0,816.0
15,4,"Albany, GA",120.0,GA,Lee,FL,69153.0,142016.0,73794.0,93330.0
16,4,"Albany, GA",120.0,GA,Lee,GA,2550.0,4908.0,1216.0,2218.0
17,4,"Albany, GA",120.0,GA,Lee,IL,3229.0,4455.0,4768.0,4502.0
18,4,"Albany, GA",120.0,GA,Lee,IA,3232.0,3834.0,6224.0,5678.0
19,4,"Albany, GA",120.0,GA,Lee,KY,337.0,442.0,634.0,572.0
20,4,"Albany, GA",120.0,GA,Lee,MS,8777.0,13096.0,13382.0,14358.0
21,4,"Albany, GA",120.0,GA,Lee,NC,5517.0,8426.0,8224.0,7738.0
22,4,"Albany, GA",120.0,GA,Lee,SC,1184.0,1440.0,1464.0,1272.0
23,4,"Albany, GA",120.0,GA,Lee,TX,1282.0,2031.0,2328.0,2340.0
24,4,"Albany, GA",120.0,GA,Lee,VA,1553.0,2017.0,2130.0,1734.0
25,702,"Albany/Schenectady/Troy, NY",160.0,NY,Schoharie,NY,3586.0,4795.0,3410.0,3332.0
26,701,"Albany/Schenectady/Troy, NY",160.0,NY,Schenectady,NY,26218.0,32881.0,17616.0,18552.0
27,700,"Albany/Schenectady/Troy, NY",160.0,NY,Saratoga,NY,41678.0,64735.0,24602.0,29734.0
28,6,"Albany/Schenectady/Troy, NY",160.0,NY,Montgomery,AL,40294.0,48163.0,35862.0,33740.0
29,6,"Albany/Schenectady/Troy, NY",160.0,NY,Montgomery,GA,688.0,924.0,676.0,702.0
...,...,...,...,...,...,...,...,...,...,...
4105,678,"Wichita, KS",9040.0,KS,Butler,MO,3207.0,4674.0,6194.0,7100.0
4106,678,"Wichita, KS",9040.0,KS,Butler,NE,778.0,1040.0,1084.0,1194.0
4107,678,"Wichita, KS",9040.0,KS,Butler,OH,48659.0,70800.0,37502.0,41638.0
4108,678,"Wichita, KS",9040.0,KS,Butler,PA,27263.0,45326.0,25316.0,27828.0
4109,680,"Wichita, KS",9040.0,KS,Sedgwick,CO,260.0,344.0,546.0,432.0
4110,680,"Wichita, KS",9040.0,KS,Sedgwick,KS,71818.0,100690.0,70672.0,72650.0
4111,683,"Williamsport, PA",9140.0,PA,Lycoming,PA,12123.0,17740.0,17058.0,17094.0
4112,686,"Wilmington, NC",9200.0,NC,Brunswick,NC,8450.0,26690.0,10002.0,13710.0
4113,686,"Wilmington, NC",9200.0,NC,Brunswick,VA,1384.0,1553.0,1830.0,1658.0
4114,687,"Wilmington, NC",9200.0,NC,New Hanover,NC,33340.0,58164.0,35792.0,40122.0
4115,684,"Wilmington/Newark, DE/MD",9160.0,DE/MD,New Castle,DE,95774.0,134897.0,95766.0,93806.0
4116,685,"Wilmington/Newark, DE/MD",9160.0,DE/MD,Cecil,MD,9168.0,16094.0,9768.0,10686.0
4117,688,"Worchester, MA/CT",9240.0,MA/CT,Windham,CT,13512.0,19712.0,12918.0,12882.0
4118,688,"Worchester, MA/CT",9240.0,MA/CT,Windham,VT,9315.0,11772.0,10866.0,10912.0
4119,690,"Worchester, MA/CT",9240.0,MA/CT,Worchester,NaN,NaN,NaN,NaN,NaN
4120,689,"Worchester, MA/CT",9240.0,MA/CT,Hampton,SC,1377.0,1625.0,2646.0,2334.0
4121,691,"Yakima, WA",9260.0,WA,Yakima,WA,20005.0,23796.0,28230.0,28068.0
4122,692,"Yolo, CA",9270.0,CA,Yolo,CA,32576.0,50405.0,20176.0,22776.0
4123,693,"York, PA",9280.0,PA,York,ME,29189.0,45190.0,30464.0,32856.0
4124,693,"York, PA",9280.0,PA,York,NE,1624.0,2633.0,2980.0,3048.0
4125,693,"York, PA",9280.0,PA,York,PA,47604.0,72548.0,48804.0,51432.0
4126,693,"York, PA",9280.0,PA,York,SC,22113.0,52090.0,22650.0,26658.0
4127,693,"York, PA",9280.0,PA,York,VA,13512.0,19563.0,7040.0,8690.0
4128,696,"Youngstown/Warren, OH",9320.0,OH,Trumbull,OH,22132.0,27028.0,28220.0,25586.0
4129,694,"Youngstown/Warren, OH",9320.0,OH,Columbiana,OH,8198.0,10410.0,14014.0,12810.0
4130,695,"Youngstown/Warren, OH",9320.0,OH,Mahoning,OH,30557.0,38145.0,38410.0,34760.0
4131,698,"Yuba City, CA",9340.0,CA,Yuba,CA,3637.0,7628.0,4940.0,4906.0
4132,697,"Yuba City, CA",9340.0,CA,Sutter,CA,7502.0,10817.0,9732.0,10202.0
4133,699,"Yuma, AZ",9360.0,AZ,Yuma,AZ,11569.0,18295.0,15066.0,17664.0
4134,699,"Yuma, AZ",9360.0,AZ,Yuma,CO,985.0,1397.0,2020.0,2120.0

In [0]:
clean_msa2['State_y'] = [str(x) for x in clean_msa2['State_y']]

In [0]:
#Get the right rows for each county
tf = []
for i in range(len(clean_msa2)):
    tf.append(clean_msa2.loc[i, 'State_y'] in clean_msa2.loc[i,'State_x'])
clean_msa2 = clean_msa2[tf]

In [0]:
clean_msa2

,index,MSA,MSA_Code,State_x,County,State_y,"Bachelor's degree or higher, 2000","Bachelor's degree or higher, 2013-17",Total Number of Enterprises (2000),Total Number of Enterprises (2010)
4,0,"Abilene, TX",40.0,TX,Taylor,TX,16951.0,19767.0,20822.0,20170.0
7,1,"Akron, OH",80.0,OH,Portage,OH,19779.0,28529.0,18548.0,17782.0
10,2,"Akron, OH",80.0,OH,Summit,OH,91096.0,119093.0,86042.0,81578.0
12,3,"Albany, GA",120.0,GA,Dougherty,GA,10347.0,12055.0,15376.0,14710.0
16,4,"Albany, GA",120.0,GA,Lee,GA,2550.0,4908.0,1216.0,2218.0
25,702,"Albany/Schenectady/Troy, NY",160.0,NY,Schoharie,NY,3586.0,4795.0,3410.0,3332.0
26,701,"Albany/Schenectady/Troy, NY",160.0,NY,Schenectady,NY,26218.0,32881.0,17616.0,18552.0
27,700,"Albany/Schenectady/Troy, NY",160.0,NY,Saratoga,NY,41678.0,64735.0,24602.0,29734.0
38,6,"Albany/Schenectady/Troy, NY",160.0,NY,Montgomery,NY,4606.0,5818.0,6738.0,6770.0
45,7,"Albany/Schenectady/Troy, NY",160.0,NY,Rensselaer,NY,23793.0,33046.0,16240.0,17854.0
46,5,"Albany/Schenectady/Troy, NY",160.0,NY,Albany,NY,65086.0,83057.0,52712.0,56742.0
48,8,"Albuquerque, NM",200.0,NM,Bernalillo,NM,109436.0,153193.0,93032.0,95570.0
49,10,"Albuquerque, NM",200.0,NM,Valencia,NM,6038.0,8259.0,5054.0,5396.0
50,9,"Albuquerque, NM",200.0,NM,Sandoval,NM,14029.0,28249.0,7178.0,9656.0
51,11,"Alexandria, LA",220.0,LA,Rapides,LA,13205.0,17433.0,18338.0,19538.0
53,12,"Allentown/Bethlehem/Easton, PA",240.0,PA,Carbon,PA,4569.0,7529.0,6784.0,6764.0
57,14,"Allentown/Bethlehem/Easton, PA",240.0,PA,Northampton,PA,38098.0,60261.0,33804.0,37356.0
59,13,"Allentown/Bethlehem/Easton, PA",240.0,PA,Lehigh,PA,49612.0,71372.0,48654.0,50440.0
60,15,"Altoona, PA",280.0,PA,Blair,PA,12268.0,17955.0,19546.0,19294.0
63,16,"Amarillo, TX",320.0,TX,Potter,TX,9385.0,11306.0,21584.0,21410.0
64,17,"Amarillo, TX",320.0,TX,Randall,TX,18971.0,26449.0,11818.0,13698.0
66,19,"Ann Arbor, MI",440.0,MI,Lenawee,MI,10462.0,13924.0,12654.0,11354.0
70,20,"Ann Arbor, MI",440.0,MI,Livingston,MI,28540.0,44859.0,22570.0,24148.0
73,21,"Ann Arbor, MI",440.0,MI,Washtenaw,MI,95026.0,121694.0,48972.0,47354.0
74,22,"Anniston, AL",450.0,AL,Calhoun,AL,11265.0,14113.0,15288.0,14550.0
85,23,"Appleton/Oshkosh/Neenah, WI",460.0,WI,Calumet,WI,5415.0,9554.0,4566.0,5156.0
86,24,"Appleton/Oshkosh/Neenah, WI",460.0,WI,Outagamie,WI,23016.0,34835.0,28022.0,29740.0
89,25,"Appleton/Oshkosh/Neenah, WI",460.0,WI,Winnebago,WI,23028.0,31051.0,22140.0,21584.0
90,26,"Asheville, NC",480.0,NC,Buncombe,NC,36287.0,70716.0,37970.0,43142.0
106,27,"Asheville, NC",480.0,NC,Madison,NC,2160.0,3935.0,1862.0,1884.0
...,...,...,...,...,...,...,...,...,...,...
4074,658,"Washington, DC/MD/VA/WV",8840.0,DC/MD/VA/WV,Charles,MD,15406.0,29444.0,14316.0,16000.0
4075,657,"Washington, DC/MD/VA/WV",8840.0,DC/MD/VA/WV,Calvert,MD,10740.0,18430.0,8872.0,10312.0
4076,671,"Waterbury, CT",8880.0,CT,New Haven,CT,152433.0,206378.0,123254.0,117538.0
4077,670,"Waterbury, CT",8880.0,CT,Litchfield,CT,34965.0,47364.0,30780.0,29762.0
4078,672,"Waterloo/Cedar Falls, IA",8920.0,IA,Black Hawk,IA,18018.0,22969.0,18882.0,19332.0
4079,673,"Wausau, WI",8940.0,WI,Marathon,WI,14994.0,22775.0,20482.0,20366.0
4080,674,"West Palm Beach/Boca Raton, FL",8960.0,FL,Palm Beach,FL,226615.0,360746.0,217252.0,249992.0
4083,677,"Wheeling, WV/OH",9000.0,WV/OH,Ohio,WV,7443.0,9303.0,9454.0,8834.0
4095,676,"Wheeling, WV/OH",9000.0,WV/OH,Marshall,WV,2640.0,3954.0,3308.0,2958.0
4096,675,"Wheeling, WV/OH",9000.0,WV/OH,Belmont,OH,5523.0,8155.0,9698.0,8954.0
4097,681,"Wichita Falls, TX",9080.0,TX,Archer,TX,912.0,1455.0,890.0,1104.0
4099,682,"Wichita Falls, TX",9080.0,TX,Wichita,TX,16122.0,18786.0,19796.0,19292.0
4100,679,"Wichita, KS",9040.0,KS,Harvey,KS,4884.0,6833.0,4860.0,4886.0
4103,678,"Wichita, KS",9040.0,KS,Butler,KS,7668.0,12676.0,7586.0,7700.0
4110,680,"Wichita, KS",9040.0,KS,Sedgwick,KS,71818.0,100690.0,70672.0,72650.0
4111,683,"Williamsport, PA",9140.0,PA,Lycoming,PA,12123.0,17740.0,17058.0,17094.0
4112,686,"Wilmington, NC",9200.0,NC,Brunswick,NC,8450.0,26690.0,10002.0,13710.0
4114,687,"Wilmington, NC",9200.0,NC,New Hanover,NC,33340.0,58164.0,35792.0,40122.0
4115,684,"Wilmington/Newark, DE/MD",9160.0,DE/MD,New Castle,DE,95774.0,134897.0,95766.0,93806.0
4116,685,"Wilmington/Newark, DE/MD",9160.0,DE/MD,Cecil,MD,9168.0,16094.0,9768.0,10686.0
4117,688,"Worchester, MA/CT",9240.0,MA/CT,Windham,CT,13512.0,19712.0,12918.0,12882.0
4121,691,"Yakima, WA",9260.0,WA,Yakima,WA,20005.0,23796.0,28230.0,28068.0
4122,692,"Yolo, CA",9270.0,CA,Yolo,CA,32576.0,50405.0,20176.0,22776.0
4125,693,"York, PA",9280.0,PA,York,PA,47604.0,72548.0,48804.0,51432.0
4128,696,"Youngstown/Warren, OH",9320.0,OH,Trumbull,OH,22132.0,27028.0,28220.0,25586.0
4129,694,"Youngstown/Warren, OH",9320.0,OH,Columbiana,OH,8198.0,10410.0,14014.0,12810.0
4130,695,"Youngstown/Warren, OH",9320.0,OH,Mahoning,OH,30557.0,38145.0,38410.0,34760.0
4131,698,"Yuba City, CA",9340.0,CA,Yuba,CA,3637.0,7628.0,4940.0,4906.0
4132,697,"Yuba City, CA",9340.0,CA,Sutter,CA,7502.0,10817.0,9732.0,10202.0
4133,699,"Yuma, AZ",9360.0,AZ,Yuma,AZ,11569.0,18295.0,15066.0,17664.0

In [0]:
#Population

pop_msa = pd.read_csv("population-change-metro-micro-areas.csv", encoding='iso-8859-1')
pop_msa.head()

,NAME,LSAD,CENSUSPOP2000,CENSUSPOP2010,NPOPCHG_2010,PPOPCHG_2010
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Metropolitan Statistical Areas,NaN,NaN,NaN,NaN,NaN
2,"Abilene, TX",Metropolitan Statistical Area,160245.0,165252.0,5007.0,3.124590471
3,"Akron, OH",Metropolitan Statistical Area,694960.0,703200.0,8240.0,1.185679751
4,"Albany, GA",Metropolitan Statistical Area,157833.0,157308.0,-525.0,-0.332630058

In [0]:
#Cleaning the feature "population growth for MSAs"
pop_msa2 = pop_msa.drop(pop_msa.index[[0, 1]])

pop_msa3 = pop_msa2.iloc[0:366, :]

pop_msa4 = pop_msa3.drop(columns=["LSAD", "CENSUSPOP2000", "CENSUSPOP2010", "NPOPCHG_2010"])

pop_msa5 = pop_msa4.rename(columns={"NAME":"Metropolitan Statistical Area (MSA)", 
                                    "PPOPCHG_2010":"Population Change From 2000 to 2010 (%)"})

pop_msa6 = pop_msa5.rename(columns={"Metropolitan Statistical Area (MSA)": "MSA"})

pop_msa6.head()

                           MSA Population Change From 2000 to 2010 (%)
2                  Abilene, TX                             3.124590471
3                    Akron, OH                             1.185679751
4                   Albany, GA                            -0.332630058
5  Albany-Schenectady-Troy, NY                             5.429514152
6              Albuquerque, NM                              21.5758536

In [0]:
asc = pd.read_csv("regiongdpchange.csv")
arr = []
for x in asc["Metropolitan Statistical Area"].values:
    arr.append(x.replace(" (Metropolitan Statistical Area)", ""))
asc["Metropolitan Statistical Area"] = arr
asc = asc.drop(['2002', '2003', '2004', '2005', '2006'], axis = 1)
asc['Percent Change'] = (asc["2007"].values - asc["2001"].values)/(asc["2001"])
asc = asc.drop(['2001', '2007', 'UYT'], axis = 1)
asc2 = asc.rename(columns={"Metropolitan Statistical Area":"MSA", "Percent Change":"Percent Change in GDP (2001 to 2007)"})
asc2.head()

                           MSA  Percent Change in GDP (2001 to 2007)
0                  Abilene, TX                              0.159867
1                    Akron, OH                              0.087970
2                   Albany, GA                              0.000753
3                   Albany, OR                              0.009704
4  Albany-Schenectady-Troy, NY                              0.011663

In [0]:
pop_gdp_merged = pop_msa6.merge(asc2, on = "MSA", how = "left")
#replace - with / in MSa
msa_dash_slash = []
for x in pop_gdp_merged['MSA']:
    msa_dash_slash.append(x.replace('-','/'))
pop_gdp_merged['MSA'] = msa_dash_slash
pop_gdp_merged

,MSA,Population Change From 2000 to 2010 (%),Percent Change in GDP (2001 to 2007)
0,"Abilene, TX",3.124590471,0.159867
1,"Akron, OH",1.185679751,0.087970
2,"Albany, GA",-0.332630058,0.000753
3,"Albany/Schenectady/Troy, NY",5.429514152,0.011663
4,"Albuquerque, NM",21.5758536,0.049326
5,"Alexandria, LA",6.127486469,0.118305
6,"Allentown/Bethlehem/Easton, PA/NJ",10.9101223,-0.013964
7,"Altoona, PA",-1.59124698,0.076935
8,"Amarillo, TX",10.31202267,0.104980
9,"Ames, IA",11.9540891,0.069906
10,"Anchorage, AK",19.15364278,0.146597
11,"Anderson, IN",-1.291261117,NaN
12,"Anderson, SC",12.90334258,NaN
13,"Ann Arbor, MI",6.781151768,0.037274
14,"Anniston/Oxford, AL",5.633012321,NaN
15,"Appleton, WI",11.93638952,0.050557
16,"Asheville, NC",15.08433761,0.057409
17,"Athens/Clarke County, GA",15.9333811,0.022971
18,"Atlanta/Sandy Springs/Marietta, GA",24.03209901,NaN
19,"Atlantic City/Hammonton, NJ",8.709889449,0.095789
20,"Auburn/Opelika, AL",21.8564279,0.152966
21,"Augusta/Richmond County, GA/SC",11.44583377,-0.014522
22,"Austin/Round Rock/San Marcos, TX",37.32915761,NaN
23,"Bakersfield/Delano, CA",26.90052823,NaN
24,"Baltimore/Towson, MD",6.169031341,NaN
25,"Bangor, ME",6.213125953,0.005867
26,"Barnstable Town, MA",-2.853800117,0.009009
27,"Baton Rouge, LA",13.67063613,0.165236
28,"Battle Creek, MI",-1.33275356,0.066348
29,"Bay City, MI",-2.165999437,0.032731
...,...,...,...
336,"Tucson, AZ",16.1798693,0.039615
337,"Tulsa, OK",9.068423282,0.242748
338,"Tuscaloosa, AL",14.28236666,0.223690
339,"Tyler, TX",20.03823566,0.092709
340,"Utica/Rome, NY",-0.166391016,0.099555
341,"Valdosta, GA",16.75142188,0.114636
342,"Vallejo/Fairfield, CA",4.765525597,0.109622
343,"Victoria, TX",3.332348226,0.223857
344,"Vineland/Millville/Bridgeton, NJ",7.142954698,NaN
345,"Virginia Beach/Norfolk/Newport News, VA/NC",6.046359674,0.148093
346,"Visalia/Porterville, CA",20.15048054,0.160466
347,"Waco, TX",10.01746933,0.167490
348,"Warner Robins, GA",26.3034352,0.041295
349,"Washington/Arlington/Alexandria, DC/VA/MD/WV",16.38776085,0.123442
350,"Waterloo/Cedar Falls, IA",2.512430821,0.249025
351,"Wausau, WI",6.539568002,0.138169
352,"Wenatchee/East Wenatchee, WA",11.75682077,NaN
353,"Wheeling, WV/OH",-3.409239287,0.105901
354,"Wichita, KS",9.085799925,0.100339
355,"Wichita Falls, TX",-0.143871598,0.112436
356,"Williamsport, PA",-3.27629869,0.032526
357,"Wilmington, NC",31.97550741,0.069786
358,"Winchester, VA/WV",24.73373011,0.024867
359,"Winston/Salem, NC",13.21354343,-0.083416
360,"Worcester, MA",6.337063211,NaN
361,"Yakima, WA",9.277521442,0.103121
362,"York/Hanover, PA",13.94128634,0.091685
363,"Youngstown/Warren/Boardman, OH/PA",-6.168029932,0.023792
364,"Yuba City, CA",19.93762082,-0.026093
365,"Yuma, AZ",22.32449727,0.124769

In [0]:
only_msa =  clean_msa2.groupby('MSA').sum().reset_index()
clean_msa3 = only_msa.merge(pop_gdp_merged, on = "MSA", how = "left")
clean_msa3.head()

,MSA,index,MSA_Code,"Bachelor's degree or higher, 2000","Bachelor's degree or higher, 2013-17",Total Number of Enterprises (2000),Total Number of Enterprises (2010),Population Change From 2000 to 2010 (%),Percent Change in GDP (2001 to 2007)
0,"Abilene, TX",0,40.0,16951.0,19767.0,20822.0,20170.0,3.124590471,0.159867
1,"Akron, OH",3,160.0,110875.0,147622.0,104590.0,99360.0,1.185679751,0.087970
2,"Albany, GA",7,240.0,12897.0,16963.0,16592.0,16928.0,-0.332630058,0.000753
3,"Albany/Schenectady/Troy, NY",2121,960.0,164967.0,224332.0,121318.0,132984.0,5.429514152,0.011663
4,"Albuquerque, NM",27,600.0,129503.0,189701.0,105264.0,110622.0,21.5758536,0.049326

In [0]:
established = ['Raleigh/Durham/Chapel Hill, NC', 'Boston, MA/NH', 'San Diego, CA','New York, NY',
      'Washington, DC/MD/VA/WV','Dallas, TX', 'Minneapolis/St. Paul, MN/WI', 'Denver, CO', 'Atlanta, GA', 'Seattle/Bellevue/Everett, WA',
      'Austin/San Marcos, TX', 'San Jose, CA', 'San Francisco, CA']
declined = ['Cleveland/Lorain/Elyria, OH','Flint, MI','Detroit, MI', 'Merced, CA','Akron, OH','Gary, IN','Scranton/Wilkes-Barre/Hazleton, PA',
           'Pittsburgh, PA', 'Toledo, OH', 'Cincinnati, OH/KY/IN', 'St. Louis, MO/IL','Visalia/Tulare/Porterville, CA','Syracuse, NY',
           'Youngstown/Warren, OH']

In [0]:
pop_gdp_merged.sort_values('MSA')['MSA'].tolist()

['Abilene, TX',
 'Akron, OH',
 'Albany, GA',
 'Albany/Schenectady/Troy, NY',
 'Albuquerque, NM',
 'Alexandria, LA',
 'Allentown/Bethlehem/Easton, PA/NJ',
 'Altoona, PA',
 'Amarillo, TX',
 'Ames, IA',
 'Anchorage, AK',
 'Anderson, IN',
 'Anderson, SC',
 'Ann Arbor, MI',
 'Anniston/Oxford, AL',
 'Appleton, WI',
 'Asheville, NC',
 'Athens/Clarke County, GA',
 'Atlanta/Sandy Springs/Marietta, GA',
 'Atlantic City/Hammonton, NJ',
 'Auburn/Opelika, AL',
 'Augusta/Richmond County, GA/SC',
 'Austin/Round Rock/San Marcos, TX',
 'Bakersfield/Delano, CA',
 'Baltimore/Towson, MD',
 'Bangor, ME',
 'Barnstable Town, MA',
 'Baton Rouge, LA',
 'Battle Creek, MI',
 'Bay City, MI',
 'Beaumont/Port Arthur, TX',
 'Bellingham, WA',
 'Bend, OR',
 'Billings, MT',
 'Binghamton, NY',
 'Birmingham/Hoover, AL',
 'Bismarck, ND',
 'Blacksburg/Christiansburg/Radford, VA',
 'Bloomington, IN',
 'Bloomington/Normal, IL',
 'Boise City/Nampa, ID',
 'Boston/Cambridge/Quincy, MA/NH',
 'Boulder, CO /1',
 'Bowling Green, KY',
 'Bremerton/Silverdale, WA',
 'Bridgeport/Stamford/Norwalk, CT',
 'Brownsville/Harlingen, TX',
 'Brunswick, GA',
 'Buffalo/Niagara Falls, NY',
 'Burlington, NC',
 'Burlington/South Burlington, VT',
 'Canton/Massillon, OH',
 'Cape Coral/Fort Myers, FL',
 'Cape Girardeau/Jackson, MO/IL',
 'Carson City, NV',
 'Casper, WY',
 'Cedar Rapids, IA',
 'Champaign/Urbana, IL',
 'Charleston, WV',
 'Charleston/North Charleston/Summerville, SC',
 'Charlotte/Gastonia/Rock Hill, NC/SC',
 'Charlottesville, VA',
 'Chattanooga, TN/GA',
 'Cheyenne, WY',
 'Chicago/Joliet/Naperville, IL/IN/WI',
 'Chico, CA',
 'Cincinnati/Middletown, OH/KY/IN',
 'Clarksville, TN/KY',
 'Cleveland, TN',
 'Cleveland/Elyria/Mentor, OH',
 "Coeur d'Alene, ID",
 'College Station/Bryan, TX',
 'Colorado Springs, CO',
 'Columbia, MO',
 'Columbia, SC',
 'Columbus, GA/AL',
 'Columbus, IN',
 'Columbus, OH',
 'Corpus Christi, TX',
 'Corvallis, OR',
 'Crestview/Fort Walton Beach/Destin, FL',
 'Cumberland, MD/WV',
 'Dallas/Fort Worth/Arlington, TX',
 'Dalton, GA',
 'Danville, IL',
 'Danville, VA',
 'Davenport/Moline/Rock Island, IA/IL',
 'Dayton, OH',
 'Decatur, AL',
 'Decatur, IL',
 'Deltona/Daytona Beach/Ormond Beach, FL',
 'Denver/Aurora/Broomfield, CO /1',
 'Des Moines/West Des Moines, IA',
 'Detroit/Warren/Livonia, MI',
 'Dothan, AL',
 'Dover, DE',
 'Dubuque, IA',
 'Duluth, MN/WI',
 'Durham/Chapel Hill, NC',
 'Eau Claire, WI',
 'El Centro, CA',
 'El Paso, TX',
 'Elizabethtown, KY',
 'Elkhart/Goshen, IN',
 'Elmira, NY',
 'Erie, PA',
 'Eugene/Springfield, OR',
 'Evansville, IN/KY',
 'Fairbanks, AK',
 'Fargo, ND/MN',
 'Farmington, NM',
 'Fayetteville, NC',
 'Fayetteville/Springdale/Rogers, AR/MO',
 'Flagstaff, AZ',
 'Flint, MI',
 'Florence, SC',
 'Florence/Muscle Shoals, AL',
 'Fond du Lac, WI',
 'Fort Collins/Loveland, CO',
 'Fort Smith, AR/OK',
 'Fort Wayne, IN',
 'Fresno, CA',
 'Gadsden, AL',
 'Gainesville, FL',
 'Gainesville, GA',
 'Glens Falls, NY',
 'Goldsboro, NC',
 'Grand Forks, ND/MN',
 'Grand Junction, CO',
 'Grand Rapids/Wyoming, MI',
 'Great Falls, MT',
 'Greeley, CO /1',
 'Green Bay, WI',
 'Greensboro/High Point, NC',
 'Greenville, NC',
 'Greenville/Mauldin/Easley, SC',
 'Gulfport/Biloxi, MS',
 'Hagerstown/Martinsburg, MD/WV',
 'Hanford/Corcoran, CA',
 'Harrisburg/Carlisle, PA',
 'Harrisonburg, VA',
 'Hartford/West Hartford/East Hartford, CT',
 'Hattiesburg, MS',
 'Hickory/Lenoir/Morganton, NC',
 'Hinesville/Fort Stewart, GA',
 'Holland/Grand Haven, MI',
 'Honolulu, HI',
 'Hot Springs, AR',
 'Houma/Bayou Cane/Thibodaux, LA',
 'Houston/Sugar Land/Baytown, TX',
 'Huntington/Ashland, WV/KY/OH',
 'Huntsville, AL',
 'Idaho Falls, ID',
 'Indianapolis/Carmel, IN',
 'Iowa City, IA',
 'Ithaca, NY',
 'Jackson, MI',
 'Jackson, MS',
 'Jackson, TN',
 'Jacksonville, FL',
 'Jacksonville, NC',
 'Janesville, WI',
 'Jefferson City, MO',
 'Johnson City, TN',
 'Johnstown, PA',
 'Jonesboro, AR',
 'Joplin, MO',
 'Kalamazoo/Portage, MI',
 'Kankakee/Bradley, IL',
 'Kansas City, MO/KS',
 'Kennewick/Pasco/Richland, WA',
 'Killeen/Temple/Fort Hood, TX',
 'Kingsport/Bristol/Bristol, TN/VA',
 'Kingston, NY',
 'Knoxville, TN',
 'Kokomo, IN',
 'La Crosse, WI/MN',
 'Lafayette, IN',
 'Lafayette, LA',
 'Lake Charles, LA',
 'Lake Havasu City/Kingman, AZ',
 'Lakeland/Winter Haven, FL',
 'Lancaster, PA',
 'Lansing/East Lansing, MI',
 'Laredo, TX',
 'Las Cruces, NM',
 'Las Vegas/Paradise, NV',
 'Lawrence, KS',
 'Lawton, OK',
 'Lebanon, PA',
 'Lewiston, ID/WA',
 'Lewiston/Auburn, ME',
 'Lexington/Fayette, KY',
 'Lima, OH',
 'Lincoln, NE',
 'Little Rock/North Little Rock/Conway, AR',
 'Logan, UT/ID',
 'Longview, TX',
 'Longview, WA',
 'Los Angeles/Long Beach/Santa Ana, CA',
 'Louisville/Jefferson County, KY/IN',
 'Lubbock, TX',
 'Lynchburg, VA',
 'Macon, GA',
 'Madera/Chowchilla, CA',
 'Madison, WI',
 'Manchester/Nashua, NH',
 'Manhattan, KS',
 'Mankato/North Mankato, MN',
 'Mansfield, OH',
 'McAllen/Edinburg/Mission, TX',
 'Medford, OR',
 'Memphis, TN/MS/AR',
 'Merced, CA',
 'Miami/Fort Lauderdale/Pompano Beach, FL',
 'Michigan City/La Porte, IN',
 'Midland, TX',
 'Milwaukee/Waukesha/West Allis, WI',
 'Minneapolis/St. Paul/Bloomington, MN/WI',
 'Missoula, MT',
 'Mobile, AL',
 'Modesto, CA',
 'Monroe, LA',
 'Monroe, MI',
 'Montgomery, AL',
 'Morgantown, WV',
 'Morristown, TN',
 'Mount Vernon/Anacortes, WA',
 'Muncie, IN',
 'Muskegon/Norton Shores, MI',
 'Myrtle Beach/North Myrtle Beach/Conway, SC',
 'Napa, CA',
 'Naples/Marco Island, FL',
 'Nashville/Davidson//Murfreesboro//Franklin, TN',
 'New Haven/Milford, CT',
 'New Orleans/Metairie/Kenner, LA',
 'New York/Northern New Jersey/Long Island, NY/NJ/PA',
 'Niles/Benton Harbor, MI',
 'North Port/Bradenton/Sarasota, FL',
 'Norwich/New London, CT',
 'Ocala, FL',
 'Ocean City, NJ',
 'Odessa, TX',
 'Ogden/Clearfield, UT',
 'Oklahoma City, OK',
 'Olympia, WA',
 'Omaha/Council Bluffs, NE/IA',
 'Orlando/Kissimmee/Sanford, FL',
 'Oshkosh/Neenah, WI',
 'Owensboro, KY',
 'Oxnard/Thousand Oaks/Ventura, CA',
 'Palm Bay/Melbourne/Titusville, FL',
 'Palm Coast, FL',
 'Panama City/Lynn Haven/Panama City Beach, FL',
 'Parkersburg/Marietta/Vienna, WV/OH',
 'Pascagoula, MS',
 'Pensacola/Ferry Pass/Brent, FL',
 'Peoria, IL',
 'Philadelphia/Camden/Wilmington, PA/NJ/DE/MD',
 'Phoenix/Mesa/Glendale, AZ',
 'Pine Bluff, AR',
 'Pittsburgh, PA',
 'Pittsfield, MA',
 'Pocatello, ID',
 'Port St. Lucie, FL',
 'Portland/South Portland/Biddeford, ME',
 'Portland/Vancouver/Hillsboro, OR/WA',
 'Poughkeepsie/Newburgh/Middletown, NY',
 'Prescott, AZ',
 'Providence/New Bedford/Fall River, RI/MA',
 'Provo/Orem, UT',
 'Pueblo, CO',
 'Punta Gorda, FL',
 'Racine, WI',
 'Raleigh/Cary, NC',
 'Rapid City, SD',
 'Reading, PA',
 'Redding, CA',
 'Reno/Sparks, NV',
 'Richmond, VA',
 'Riverside/San Bernardino/Ontario, CA',
 'Roanoke, VA',
 'Rochester, MN',
 'Rochester, NY',
 'Rockford, IL',
 'Rocky Mount, NC',
 'Rome, GA',
 'Sacramento//Arden/Arcade//Roseville, CA',
 'Saginaw/Saginaw Township North, MI',
 'Salem, OR',
 'Salinas, CA',
 'Salisbury, MD',
 'Salt Lake City, UT',
 'San Angelo, TX',
 'San Antonio/New Braunfels, TX',
 'San Diego/Carlsbad/San Marcos, CA',
 'San Francisco/Oakland/Fremont, CA',
 'San Jose/Sunnyvale/Santa Clara, CA',
 'San Luis Obispo/Paso Robles, CA',
 'Sandusky, OH',
 'Santa Barbara/Santa Maria/Goleta, CA',
 'Santa Cruz/Watsonville, CA',
 'Santa Fe, NM',
 'Santa Rosa/Petaluma, CA',
 'Savannah, GA',
 'Scranton//Wilkes/Barre, PA',
 'Seattle/Tacoma/Bellevue, WA',
 'Sebastian/Vero Beach, FL',
 'Sheboygan, WI',
 'Sherman/Denison, TX',
 'Shreveport/Bossier City, LA',
 'Sioux City, IA/NE/SD',
 'Sioux Falls, SD',
 'South Bend/Mishawaka, IN/MI',
 'Spartanburg, SC',
 'Spokane, WA',
 'Springfield, IL',
 'Springfield, MA',
 'Springfield, MO',
 'Springfield, OH',
 'St. Cloud, MN',
 'St. George, UT',
 'St. Joseph, MO/KS',
 'St. Louis, MO/IL',
 'State College, PA',
 'Steubenville/Weirton, OH/WV',
 'Stockton, CA',
 'Sumter, SC',
 'Syracuse, NY',
 'Tallahassee, FL',
 'Tampa/St. Petersburg/Clearwater, FL',
 'Terre Haute, IN',
 'Texarkana, TX/Texarkana, AR',
 'Toledo, OH',
 'Topeka, KS',
 'Trenton/Ewing, NJ',
 'Tucson, AZ',
 'Tulsa, OK',
 'Tuscaloosa, AL',
 'Tyler, TX',
 'Utica/Rome, NY',
 'Valdosta, GA',
 'Vallejo/Fairfield, CA',
 'Victoria, TX',
 'Vineland/Millville/Bridgeton, NJ',
 'Virginia Beach/Norfolk/Newport News, VA/NC',
 'Visalia/Porterville, CA',
 'Waco, TX',
 'Warner Robins, GA',
 'Washington/Arlington/Alexandria, DC/VA/MD/WV',
 'Waterloo/Cedar Falls, IA',
 'Wausau, WI',
 'Wenatchee/East Wenatchee, WA',
 'Wheeling, WV/OH',
 'Wichita Falls, TX',
 'Wichita, KS',
 'Williamsport, PA',
 'Wilmington, NC',
 'Winchester, VA/WV',
 'Winston/Salem, NC',
 'Worcester, MA',
 'Yakima, WA',
 'York/Hanover, PA',
 'Youngstown/Warren/Boardman, OH/PA',
 'Yuba City, CA',
 'Yuma, AZ']

In [0]:
only_msa.sort_values('MSA')['MSA'].tolist()

['Abilene, TX',
 'Akron, OH',
 'Albany, GA',
 'Albany/Schenectady/Troy, NY',
 'Albuquerque, NM',
 'Alexandria, LA',
 'Allentown/Bethlehem/Easton, PA',
 'Altoona, PA',
 'Amarillo, TX',
 'Ann Arbor, MI',
 'Anniston, AL',
 'Appleton/Oshkosh/Neenah, WI',
 'Asheville, NC',
 'Athens, GA',
 'Atlanta, GA',
 'Atlantic/Cape May, NJ',
 'Auburn/Opelika, AL',
 'Augusta/Aiken, GA/SC',
 'Austin/San Marcos, TX',
 'Bakersfield, CA',
 'Baltimore, MD',
 'Bangor, ME',
 'Barnstable/Yarmouth, MA',
 'Baton Rouge, LA',
 'Beaumont/Port Arthur, TX',
 'Bellingham, WA',
 'Benton Harbor, MI',
 'Bergen/Passaic, NJ',
 'Billings, MT',
 'Biloxi/Gulfport/Pascagoula, MS',
 'Binghamton, NY',
 'Birmingham, AL',
 'Bismarck, ND',
 'Bloomington, IN',
 'Boise City, ID',
 'Boston, MA/NH',
 'Boulder/Longmont, CO',
 'Brazoria, TX',
 'Bremerton, WA',
 'Bridgeport, CT',
 'Brockton, MA',
 'Brownsville/Harlingen/San Benito, TX',
 'Bryan/College Station, TX',
 'Buffalo/Niagara Falls, NY',
 'Burlington, VT',
 'Canton/Massillon, OH',
 'Casper, WY',
 'Cedar Rapids, IA',
 'Champaign/Urbana, IL',
 'Charleston, WV',
 'Charleston/North Charleston, SC',
 'Charlotte/Gastonia/Rock Hill, NC/SC',
 'Charlottesville, VA',
 'Chattanooga, TN/GA',
 'Cheyenne, WY',
 'Chicago, IL',
 'Chico/Paradise, CA',
 'Cincinnati, OH/KY/IN',
 'Clarksville/Hopkinsville, TN/KY',
 'Cleveland/Lorain/Elyria, OH',
 'Colorado Springs, CO',
 'Columbia, MO',
 'Columbia, SC',
 'Columbus, GA/AL',
 'Columbus, OH',
 'Corpus Christi, TX',
 'Corvallis, OR',
 'Cumberland, MD/WV',
 'Dallas, TX',
 'Danbury, CT',
 'Danville, VA',
 'Davenport/Moline/Rock Island, IA/IL',
 'Dayton/Springfield, OH',
 'Daytona Beach, FL',
 'Decatur, AL',
 'Decatur, IL',
 'Denver, CO',
 'Des Moines, IA',
 'Detroit, MI',
 'Dothan, AL',
 'Dover, DE',
 'Dubuque, IA',
 'Duluth/Superior, MN/WI',
 'Dutchess County, NY',
 'Eau Claire, WI',
 'El Paso, TX',
 'Elkhart/Goshen, IN',
 'Elmira, NY',
 'Enid, OK',
 'Erie, PA',
 'Eugene/Springfield, OR',
 'Evansville/Henderson, IN/KY',
 'Fargo/Moorhead, ND/MN',
 'Fayetteville, NC',
 'Fayetteville/Springdale/Rogers, AR',
 'Fitchburg-Leominster, MA',
 'Flagstaff, AZ/UT',
 'Flint, MI',
 'Florence, AL',
 'Florence, SC',
 'Fort Collins/Loveland, CO',
 'Fort Lauderdale, FL',
 'Fort Myers/Cape Coral, FL',
 'Fort Pierce/Port St. Lucie, FL',
 'Fort Smith, AR/OK',
 'Fort Walton Beach, FL',
 'Fort Wayne, IN',
 'Fort Worth/Arlington, TX',
 'Fresno, CA',
 'Gadsden, AL',
 'Gainesville, FL',
 'Galveston/Texas City, TX',
 'Gary, IN',
 'Glens Falls, NY',
 'Goldsboro, NC',
 'Grand Forks, ND/MN',
 'Grand Junction, CO',
 'Grand Rapids/Muskegon/Holland, MI',
 'Great Falls, MT',
 'Greeley, CO',
 'Green Bay, WI',
 'Greensboro/Winston-Salem/High Point, NC',
 'Greenville, NC',
 'Greenville/Spartanburg/Anderson, SC',
 'Hagerstown, MD',
 'Hamilton/Middletown, OH',
 'Harrisburg/Lebanon/Carlisle, PA',
 'Hartford, CT',
 'Hattiesburg, MS',
 'Hickory/Morganton/Lenoir, NC',
 'Honolulu, HI',
 'Houma, LA',
 'Houston, TX',
 'Huntington/Ashland, WV/KY/OH',
 'Huntsville, AL',
 'Indianapolis, IN',
 'Iowa City, IA',
 'Jackson, MI',
 'Jackson, MS',
 'Jackson, TN',
 'Jacksonville, FL',
 'Jacksonville, NC',
 'Jamestown, NY',
 'Janesville/Beloit, WI',
 'Jersey City, NJ',
 'Johnson City/Kingsport/Bristol, TN/VA',
 'Johnstown, PA',
 'Jonesboro, AR',
 'Joplin, MO',
 'Kalamazoo/Battle Creek, MI',
 'Kankakee, IL',
 'Kansas City, MO/KS',
 'Kenosha, WI',
 'Killeen/Temple, TX',
 'Knoxville, TN',
 'Kokomo, IN',
 'La Crosse, WI/MN',
 'Lafayette, IN',
 'Lafayette, LA',
 'Lake Charles, LA',
 'Lakeland/Winter Haven, FL',
 'Lancaster, PA',
 'Lansing/East Lansing, MI',
 'Laredo, TX',
 'Las Cruces, NM',
 'Las Vegas, NV/AZ',
 'Lawrence, KS',
 'Lawrence, MA/NH',
 'Lawton, OK',
 'Lewiston/Auburn, ME',
 'Lexington, KY',
 'Lima, OH',
 'Lincoln, NE',
 'Little Rock/North Little Rock, AR',
 'Longview/Marshall, TX',
 'Los Angeles/Long Beach, CA',
 'Louisville, KY/IN',
 'Lowell, MA/NH',
 'Lubbock, TX',
 'Lynchburg, VA',
 'Macon, GA',
 'Madison, WI',
 'Manchester, NH',
 'Mansfield, OH',
 'McAllen/Edinburg/Mission, TX',
 'Medford/Ashland, OR',
 'Melbourne/Titusville/Palm Bay, FL',
 'Memphis, TN/AR/MS',
 'Merced, CA',
 'Middlesex/Somerset/Hunterdon, NJ',
 'Milwaukee/Waukesha, WI',
 'Minneapolis/St. Paul, MN/WI',
 'Missoula, MT',
 'Mobile, AL',
 'Modesto, CA',
 'Monmouth/Ocean, NJ',
 'Monroe, LA',
 'Montgomery, AL',
 'Muncie, IN',
 'Myrtle Beach, SC',
 'Naples, FL',
 'Nashua, NH',
 'Nashville, TN',
 'Nassau/Suffolk, NY',
 'New Bedford, MA',
 'New Haven/Meriden, CT',
 'New London/Norwich, CT/RI',
 'New Orleans, LA',
 'New York, NY',
 'Newark, NJ',
 'Newburgh, NY/PA',
 'Norfolk/Virginia Beach/Newport News, VA/NC',
 'Oakland, CA',
 'Ocala, FL',
 'Odessa/Midland, TX',
 'Oklahoma City, OK',
 'Olympia, WA',
 'Omaha, NE/IA',
 'Orange County, CA',
 'Orlando, FL',
 'Owensboro, KY',
 'Panama City, FL',
 'Parkersburg/Marietta, WV/OH',
 'Pensacola, FL',
 'Peoria/Pekin, IL',
 'Philadelphia, PA/NJ',
 'Phoenix/Mesa, AZ',
 'Pine Bluff, AR',
 'Pittsburgh, PA',
 'Pittsfield, MA',
 'Pocatello, ID',
 'Portland, ME',
 'Portland/Vancouver, OR/WA',
 'Portsmouth/Rochester, NH/ME',
 'Providence/Fall River/Warwick, RI/MA',
 'Provo/Orem, UT',
 'Pueblo, CO',
 'Punta Gorda, FL',
 'Racine, WI',
 'Raleigh/Durham/Chapel Hill, NC',
 'Rapid City, SD',
 'Reading, PA',
 'Redding, CA',
 'Reno, NV',
 'Richland/Kennewick/Pasco, WA',
 'Richmond/Petersburg, VA',
 'Riverside/San Bernardino, CA',
 'Roanoke, VA',
 'Rochester, MN',
 'Rochester, NY',
 'Rockford, IL',
 'Rocky Mount, NC',
 'Sacramento, CA',
 'Saginaw/Bay City/Midland, MI',
 'Salem, OR',
 'Salinas, CA',
 'Salt Lake City/Ogden, UT',
 'San Angelo, TX',
 'San Antonio, TX',
 'San Diego, CA',
 'San Francisco, CA',
 'San Jose, CA',
 'San Luis Obispo/Atascadero/Paso Robles, CA',
 'Santa Barbara/Santa Maria/Lompoc, CA',
 'Santa Cruz/Watsonville, CA',
 'Santa Fe, NM',
 'Santa Rosa, CA',
 'Sarasota/Bradenton, FL',
 'Savannah, GA',
 'Scranton/Wilkes-Barre/Hazleton, PA',
 'Seattle/Bellevue/Everett, WA',
 'Sharon, PA',
 'Sheboygan, WI',
 'Sherman/Denison, TX',
 'Shreveport/Bossier City, LA',
 'Sioux City, IA/NE',
 'Sioux Falls, SD',
 'Spokane, WA',
 'Springfield, IL',
 'Springfield, MA',
 'Springfield, MO',
 'St. Cloud, MN',
 'St. Joseph, MO',
 'St. Louis, MO/IL',
 'Stamford/Norwalk, CT',
 'State College, PA',
 'Steubenville/Weirton, OH/WV',
 'Stockton/Lodi, CA',
 'Sumter, SC',
 'Syracuse, NY',
 'Tacoma, WA',
 'Tallahassee, FL',
 'Tampa/St. Petersburg/Clearwater, FL',
 'Terre Haute, IN',
 'Texarkana, TX/Texarkana, AR',
 'Toledo, OH',
 'Topeka, KS',
 'Trenton, NJ',
 'Tucson, AZ',
 'Tulsa, OK',
 'Tuscaloosa, AL',
 'Tyler, TX',
 'Utica/Rome, NY',
 'Vallejo/Fairfield/Napa, CA',
 'Ventura, CA',
 'Victoria, TX',
 'Vineland/Millville/Bridgeton, NJ',
 'Visalia/Tulare/Porterville, CA',
 'Waco, TX',
 'Washington, DC/MD/VA/WV',
 'Waterbury, CT',
 'Waterloo/Cedar Falls, IA',
 'Wausau, WI',
 'West Palm Beach/Boca Raton, FL',
 'Wheeling, WV/OH',
 'Wichita Falls, TX',
 'Wichita, KS',
 'Williamsport, PA',
 'Wilmington, NC',
 'Wilmington/Newark, DE/MD',
 'Worchester, MA/CT',
 'Yakima, WA',
 'Yolo, CA',
 'York, PA',
 'Youngstown/Warren, OH',
 'Yuba City, CA',
 'Yuma, AZ']

In [0]:
remove_pop = ['Ames, IA','Anderson, IN','Anderson, SC', 'Appleton, WI', 'Battle Creek, MI',
 'Bay City, MI', 'Bend, OR', 'Blacksburg/Christiansburg/Radford, VA', 'Bowling Green, KY', 
             'Brunswick, GA', 'Burlington, NC', 'Cape Coral/Fort Myers, FL', 'Cape Girardeau/Jackson, MO/IL',
              'Carson City, NV', 'Cleveland, TN', "Coeur d'Alene, ID",'College Station/Bryan, TX',
             'Columbus, IN', 'Crestview/Fort Walton Beach/Destin, FL', 'Dalton, GA','Danville, IL',
             'Deltona/Daytona Beach/Ormond Beach, FL', 'Durham/Chapel Hill, NC','El Centro, CA', 
             'Elizabethtown, KY', 'El Paso, TX','Fairbanks, AK', 'Farmington, NM', 'Florence, SC',
 'Florence/Muscle Shoals, AL',  'Fond du Lac, WI', 'Gainesville, GA', 'Gulfport/Biloxi, MS','Hanford/Corcoran, CA',
             'Harrisonburg, VA', 'Hinesville/Fort Stewart, GA','Holland/Grand Haven, MI', 'Hot Springs, AR',
              'Idaho Falls, ID', 'Ithaca, NY', 'Jefferson City, MO','Kingsport/Bristol/Bristol, TN/VA',
 'Kingston, NY', 'Lake Havasu City/Kingman, AZ','Lebanon, PA','Lewiston, ID/WA','Logan, UT/ID', 'Longview, WA','Madera/Chowchilla, CA',
              'Manhattan, KS','Mankato/North Mankato, MN','Michigan City/La Porte, IN',
 'Midland, TX', 'Monroe, MI', 'Morgantown, WV','Morristown, TN','Mount Vernon/Anacortes, WA', 'Muskegon/Norton Shores, MI',
             'Napa, CA', 'Niles/Benton Harbor, MI','North Port/Bradenton/Sarasota, FL','Norwich/New London, CT',
              'Ocean City, NJ', 'Ogden/Clearfield, UT', 'Oshkosh/Neenah, WI', 'Oxnard/Thousand Oaks/Ventura, CA',
 'Palm Bay/Melbourne/Titusville, FL', 'Palm Coast, FL', 'Pascagoula, MS', 'Port St. Lucie, FL','Poughkeepsie/Newburgh/Middletown, NY', 'Prescott, AZ',
              'Valdosta, GA', 'Virginia Beach/Norfolk/Newport News, VA/NC', 'Warner Robins, GA', 'Wenatchee/East Wenatchee, WA',
           'Rome, GA', 'Sandusky, OH', 'Sebastian/Vero Beach, FL','Spartanburg, SC', 'Springfield, OH','Kennewick/Pasco/Richland, WA','St. George, UT', 'Winchester, VA/WV','Salisbury, MD',
             'Winston/Salem, NC']
remove_msa = ['Benton Harbor, MI','Bergen/Passaic, NJ','Brazoria, TX', 'Brockton, MA','Bryan/College Station, TX','Danbury, CT',
             'Daytona Beach, FL','Dutchess County, NY','El Paso, TX','Enid, OK', 'Florence, AL', 'Florence, SC',
             'Fort Lauderdale, FL','Fort Myers/Cape Coral, FL','Fort Pierce/Port St. Lucie, FL', 'Fort Walton Beach, FL', 'Fort Worth/Arlington, TX',
              'Galveston/Texas City, TX', 'Gary, IN','Hamilton/Middletown, OH','Jamestown, NY','Jersey City, NJ','Kenosha, WI',
              'Lawrence, MA/NH','Lowell, MA/NH', 'Melbourne/Titusville/Palm Bay, FL', 'Monmouth/Ocean, NJ','Nashua, NH','Nassau/Suffolk, NY', 'New London/Norwich, CT/RI',
 'New Bedford, MA', 'Newark, NJ','Newburgh, NY/PA','Norfolk/Virginia Beach/Newport News, VA/NC','Oakland, CA', 'Orange County, CA', 
              'Portsmouth/Rochester, NH/ME', 'Richland/Kennewick/Pasco, WA','Sharon, PA','Stamford/Norwalk, CT','Ventura, CA', 'Waterbury, CT', 'West Palm Beach/Boca Raton, FL', 'Wilmington/Newark, DE/MD',
              'Yolo, CA','Middlesex/Somerset/Hunterdon, NJ', 'Appleton/Oshkosh/Neenah, WI', 'Biloxi/Gulfport/Pascagoula, MS', 'Fitchburg-Leominster, MA', 'Sarasota/Bradenton, FL', 'Tacoma, WA'
              
]
#'Durham/Chapel Hill, NC' merge with raleigh

In [0]:
clean_pop_gdp = pop_gdp_merged.set_index('MSA').drop(remove_pop).reset_index().sort_values('MSA')
clean_only_msa = only_msa.set_index('MSA').drop(remove_msa)

In [0]:
clean_pop_gdp['MSA'] = clean_only_msa.reset_index().sort_values('MSA')['MSA']

In [0]:
clean_msa5 = clean_only_msa.merge(clean_pop_gdp, on = "MSA", how = "left")
clean_msa5

,MSA,index,MSA_Code,"Bachelor's degree or higher, 2000","Bachelor's degree or higher, 2013-17",Total Number of Enterprises (2000),Total Number of Enterprises (2010),Population Change From 2000 to 2010 (%),Percent Change in GDP (2001 to 2007)
0,"Abilene, TX",0,40.0,16951.0,19767.0,20822.0,20170.0,3.124590471,0.159867
1,"Akron, OH",3,160.0,110875.0,147622.0,104590.0,99360.0,1.185679751,0.087970
2,"Albany, GA",7,240.0,12897.0,16963.0,16592.0,16928.0,-0.332630058,0.000753
3,"Albany/Schenectady/Troy, NY",2121,960.0,164967.0,224332.0,121318.0,132984.0,5.429514152,0.011663
4,"Albuquerque, NM",27,600.0,129503.0,189701.0,105264.0,110622.0,21.5758536,0.049326
5,"Alexandria, LA",11,220.0,13205.0,17433.0,18338.0,19538.0,6.127486469,0.118305
6,"Allentown/Bethlehem/Easton, PA",39,720.0,92279.0,139162.0,89242.0,94560.0,10.9101223,-0.013964
7,"Altoona, PA",15,280.0,12268.0,17955.0,19546.0,19294.0,-1.59124698,0.076935
8,"Amarillo, TX",33,640.0,28356.0,37755.0,33402.0,35108.0,10.31202267,0.104980
9,"Ann Arbor, MI",60,1320.0,134028.0,180477.0,84196.0,82856.0,19.15364278,0.146597
10,"Anniston, AL",22,450.0,11265.0,14113.0,15288.0,14550.0,6.781151768,0.037274
11,"Asheville, NC",53,960.0,38447.0,74651.0,39832.0,45026.0,5.633012321,NaN
12,"Athens, GA",87,1500.0,29038.0,42747.0,21978.0,25214.0,15.08433761,0.057409
13,"Atlanta, GA",7392,9880.0,687072.0,1152335.0,572892.0,663158.0,15.9333811,0.022971
14,"Atlantic/Cape May, NJ",83,1120.0,47557.0,71669.0,61782.0,61974.0,24.03209901,NaN
15,"Auburn/Opelika, AL",43,580.0,17351.0,32222.0,11860.0,14100.0,8.709889449,0.095789
16,"Augusta/Aiken, GA/SC",1562,3000.0,63119.0,95683.0,57700.0,60120.0,21.8564279,0.152966
17,"Austin/San Marcos, TX",1575,3200.0,281822.0,567710.0,188416.0,246672.0,11.44583377,-0.014522
18,"Bakersfield, CA",50,680.0,51869.0,83081.0,64622.0,71438.0,37.32915761,NaN
19,"Baltimore, MD",927,3600.0,406395.0,601299.0,281752.0,308610.0,26.90052823,NaN
20,"Bangor, ME",111,1460.0,24951.0,36758.0,29762.0,30974.0,6.169031341,NaN
21,"Barnstable/Yarmouth, MA",57,740.0,55463.0,68847.0,48866.0,49212.0,6.213125953,0.005867
22,"Baton Rouge, LA",238,3040.0,90141.0,136620.0,87302.0,97412.0,-2.853800117,0.009009
23,"Beaumont/Port Arthur, TX",189,2520.0,36218.0,46950.0,48250.0,47524.0,13.67063613,0.165236
24,"Bellingham, WA",65,860.0,27988.0,47150.0,31868.0,37428.0,0.949128775,0.238053
25,"Billings, MT",69,880.0,22222.0,32157.0,29044.0,32990.0,20.57740957,0.154773
26,"Binghamton, NY",147,1920.0,36754.0,44999.0,30298.0,30642.0,13.78362034,0.250675
27,"Birmingham, AL",873,3000.0,144717.0,207510.0,130706.0,132696.0,-0.235811668,0.150398
28,"Bismarck, ND",155,2020.0,15622.0,27423.0,17680.0,20540.0,7.204548781,0.080201
29,"Bloomington, IN",79,1020.0,25952.0,37498.0,17388.0,17928.0,14.84390671,0.072867
...,...,...,...,...,...,...,...,...,...
246,"Tampa/St. Petersburg/Clearwater, FL",3060,33120.0,367507.0,613452.0,365908.0,415870.0,21.59482468,NaN
247,"Terre Haute, IN",1893,24960.0,17755.0,20708.0,20650.0,20318.0,2.685243583,0.068376
248,"Texarkana, TX/Texarkana, AR",1267,16720.0,12708.0,16840.0,16996.0,17374.0,1.910778062,0.101573
249,"Toledo, OH",1908,25200.0,84144.0,105152.0,88394.0,81848.0,14.70759029,0.020913
250,"Topeka, KS",638,8440.0,29094.0,36483.0,27320.0,26418.0,16.16220721,0.143532
251,"Trenton, NJ",639,8480.0,78506.0,103725.0,57338.0,58460.0,0.866955652,0.155129
252,"Tucson, AZ",640,8520.0,146108.0,210880.0,110600.0,121718.0,4.838572937,NaN
253,"Tulsa, OK",3733,42800.0,119421.0,168096.0,131814.0,138390.0,-1.177054194,0.065956
254,"Tuscaloosa, AL",644,8600.0,23804.0,37825.0,23586.0,24054.0,4.150059452,-0.004540
255,"Tyler, TX",645,8640.0,25033.0,36401.0,28894.0,32552.0,4.490807131,NaN
256,"Utica/Rome, NY",1293,17360.0,35885.0,47318.0,36558.0,36374.0,16.1798693,0.039615
257,"Vallejo/Fairfield/Napa, CA",1297,17440.0,74865.0,109332.0,60528.0,63982.0,9.068423282,0.242748
258,"Victoria, TX",651,8750.0,8446.0,11579.0,13146.0,13532.0,14.28236666,0.223690
259,"Vineland/Millville/Bridgeton, NJ",652,8760.0,11385.0,15013.0,17996.0,17802.0,20.03823566,0.092709
260,"Visalia/Tulare/Porterville, CA",653,8780.0,23560.0,36891.0,35132.0,36764.0,-0.166391016,0.099555
261,"Waco, TX",654,8800.0,24059.0,33923.0,28784.0,29498.0,4.765525597,0.109622
262,"Washington, DC/MD/VA/WV",14557,167960.0,1022680.0,1555795.0,509988.0,605398.0,3.332348226,0.223857
263,"Waterloo/Cedar Falls, IA",672,8920.0,18018.0,22969.0,18882.0,19332.0,7.142954698,NaN
264,"Wausau, WI",673,8940.0,14994.0,22775.0,20482.0,20366.0,20.15048054,0.160466
265,"Wheeling, WV/OH",2028,27000.0,15606.0,21412.0,22460.0,20746.0,10.01746933,0.167490
266,"Wichita Falls, TX",1363,18160.0,17034.0,20241.0,20686.0,20396.0,16.38776085,0.123442
267,"Wichita, KS",2037,27120.0,84370.0,120199.0,83118.0,85236.0,2.512430821,0.249025
268,"Williamsport, PA",683,9140.0,12123.0,17740.0,17058.0,17094.0,6.539568002,0.138169
269,"Wilmington, NC",1373,18400.0,41790.0,84854.0,45794.0,53832.0,-3.409239287,0.105901
270,"Worchester, MA/CT",688,9240.0,13512.0,19712.0,12918.0,12882.0,9.085799925,0.100339
271,"Yakima, WA",691,9260.0,20005.0,23796.0,28230.0,28068.0,-0.143871598,0.112436
272,"York, PA",693,9280.0,47604.0,72548.0,48804.0,51432.0,-3.27629869,0.032526
273,"Youngstown/Warren, OH",2085,27960.0,60887.0,75583.0,80644.0,73156.0,31.97550741,0.069786
274,"Yuba City, CA",1395,18680.0,11139.0,18445.0,14672.0,15108.0,6.337063211,NaN
275,"Yuma, AZ",699,9360.0,11569.0,18295.0,15066.0,17664.0,9.277521442,0.103121

In [0]:
clean_msa6 = clean_msa5.set_index('MSA')
clean_msa6

,index,MSA_Code,"Bachelor's degree or higher, 2000","Bachelor's degree or higher, 2013-17",Total Number of Enterprises (2000),Total Number of Enterprises (2010),Population Change From 2000 to 2010 (%),Percent Change in GDP (2001 to 2007)
MSA,,,,,,,,
"Abilene, TX",0,40.0,16951.0,19767.0,20822.0,20170.0,3.124590471,0.159867
"Akron, OH",3,160.0,110875.0,147622.0,104590.0,99360.0,1.185679751,0.087970
"Albany, GA",7,240.0,12897.0,16963.0,16592.0,16928.0,-0.332630058,0.000753
"Albany/Schenectady/Troy, NY",2121,960.0,164967.0,224332.0,121318.0,132984.0,5.429514152,0.011663
"Albuquerque, NM",27,600.0,129503.0,189701.0,105264.0,110622.0,21.5758536,0.049326
"Alexandria, LA",11,220.0,13205.0,17433.0,18338.0,19538.0,6.127486469,0.118305
"Allentown/Bethlehem/Easton, PA",39,720.0,92279.0,139162.0,89242.0,94560.0,10.9101223,-0.013964
"Altoona, PA",15,280.0,12268.0,17955.0,19546.0,19294.0,-1.59124698,0.076935
"Amarillo, TX",33,640.0,28356.0,37755.0,33402.0,35108.0,10.31202267,0.104980
"Ann Arbor, MI",60,1320.0,134028.0,180477.0,84196.0,82856.0,19.15364278,0.146597
"Anniston, AL",22,450.0,11265.0,14113.0,15288.0,14550.0,6.781151768,0.037274
"Asheville, NC",53,960.0,38447.0,74651.0,39832.0,45026.0,5.633012321,NaN
"Athens, GA",87,1500.0,29038.0,42747.0,21978.0,25214.0,15.08433761,0.057409
"Atlanta, GA",7392,9880.0,687072.0,1152335.0,572892.0,663158.0,15.9333811,0.022971
"Atlantic/Cape May, NJ",83,1120.0,47557.0,71669.0,61782.0,61974.0,24.03209901,NaN
"Auburn/Opelika, AL",43,580.0,17351.0,32222.0,11860.0,14100.0,8.709889449,0.095789
"Augusta/Aiken, GA/SC",1562,3000.0,63119.0,95683.0,57700.0,60120.0,21.8564279,0.152966
"Austin/San Marcos, TX",1575,3200.0,281822.0,567710.0,188416.0,246672.0,11.44583377,-0.014522
"Bakersfield, CA",50,680.0,51869.0,83081.0,64622.0,71438.0,37.32915761,NaN
"Baltimore, MD",927,3600.0,406395.0,601299.0,281752.0,308610.0,26.90052823,NaN
"Bangor, ME",111,1460.0,24951.0,36758.0,29762.0,30974.0,6.169031341,NaN
"Barnstable/Yarmouth, MA",57,740.0,55463.0,68847.0,48866.0,49212.0,6.213125953,0.005867
"Baton Rouge, LA",238,3040.0,90141.0,136620.0,87302.0,97412.0,-2.853800117,0.009009
"Beaumont/Port Arthur, TX",189,2520.0,36218.0,46950.0,48250.0,47524.0,13.67063613,0.165236
"Bellingham, WA",65,860.0,27988.0,47150.0,31868.0,37428.0,0.949128775,0.238053
"Billings, MT",69,880.0,22222.0,32157.0,29044.0,32990.0,20.57740957,0.154773
"Binghamton, NY",147,1920.0,36754.0,44999.0,30298.0,30642.0,13.78362034,0.250675
"Birmingham, AL",873,3000.0,144717.0,207510.0,130706.0,132696.0,-0.235811668,0.150398
"Bismarck, ND",155,2020.0,15622.0,27423.0,17680.0,20540.0,7.204548781,0.080201
"Bloomington, IN",79,1020.0,25952.0,37498.0,17388.0,17928.0,14.84390671,0.072867
...,...,...,...,...,...,...,...,...
"Tampa/St. Petersburg/Clearwater, FL",3060,33120.0,367507.0,613452.0,365908.0,415870.0,21.59482468,NaN
"Terre Haute, IN",1893,24960.0,17755.0,20708.0,20650.0,20318.0,2.685243583,0.068376
"Texarkana, TX/Texarkana, AR",1267,16720.0,12708.0,16840.0,16996.0,17374.0,1.910778062,0.101573
"Toledo, OH",1908,25200.0,84144.0,105152.0,88394.0,81848.0,14.70759029,0.020913
"Topeka, KS",638,8440.0,29094.0,36483.0,27320.0,26418.0,16.16220721,0.143532
"Trenton, NJ",639,8480.0,78506.0,103725.0,57338.0,58460.0,0.866955652,0.155129
"Tucson, AZ",640,8520.0,146108.0,210880.0,110600.0,121718.0,4.838572937,NaN
"Tulsa, OK",3733,42800.0,119421.0,168096.0,131814.0,138390.0,-1.177054194,0.065956
"Tuscaloosa, AL",644,8600.0,23804.0,37825.0,23586.0,24054.0,4.150059452,-0.004540
"Tyler, TX",645,8640.0,25033.0,36401.0,28894.0,32552.0,4.490807131,NaN
"Utica/Rome, NY",1293,17360.0,35885.0,47318.0,36558.0,36374.0,16.1798693,0.039615
"Vallejo/Fairfield/Napa, CA",1297,17440.0,74865.0,109332.0,60528.0,63982.0,9.068423282,0.242748
"Victoria, TX",651,8750.0,8446.0,11579.0,13146.0,13532.0,14.28236666,0.223690
"Vineland/Millville/Bridgeton, NJ",652,8760.0,11385.0,15013.0,17996.0,17802.0,20.03823566,0.092709
"Visalia/Tulare/Porterville, CA",653,8780.0,23560.0,36891.0,35132.0,36764.0,-0.166391016,0.099555
"Waco, TX",654,8800.0,24059.0,33923.0,28784.0,29498.0,4.765525597,0.109622
"Washington, DC/MD/VA/WV",14557,167960.0,1022680.0,1555795.0,509988.0,605398.0,3.332348226,0.223857
"Waterloo/Cedar Falls, IA",672,8920.0,18018.0,22969.0,18882.0,19332.0,7.142954698,NaN
"Wausau, WI",673,8940.0,14994.0,22775.0,20482.0,20366.0,20.15048054,0.160466
"Wheeling, WV/OH",2028,27000.0,15606.0,21412.0,22460.0,20746.0,10.01746933,0.167490
"Wichita Falls, TX",1363,18160.0,17034.0,20241.0,20686.0,20396.0,16.38776085,0.123442
"Wichita, KS",2037,27120.0,84370.0,120199.0,83118.0,85236.0,2.512430821,0.249025
"Williamsport, PA",683,9140.0,12123.0,17740.0,17058.0,17094.0,6.539568002,0.138169
"Wilmington, NC",1373,18400.0,41790.0,84854.0,45794.0,53832.0,-3.409239287,0.105901
"Worchester, MA/CT",688,9240.0,13512.0,19712.0,12918.0,12882.0,9.085799925,0.100339
"Yakima, WA",691,9260.0,20005.0,23796.0,28230.0,28068.0,-0.143871598,0.112436
"York, PA",693,9280.0,47604.0,72548.0,48804.0,51432.0,-3.27629869,0.032526
"Youngstown/Warren, OH",2085,27960.0,60887.0,75583.0,80644.0,73156.0,31.97550741,0.069786
"Yuba City, CA",1395,18680.0,11139.0,18445.0,14672.0,15108.0,6.337063211,NaN
"Yuma, AZ",699,9360.0,11569.0,18295.0,15066.0,17664.0,9.277521442,0.103121

In [0]:
clean_msa7 = clean_msa6.copy()
clean_msa7['Education change'] = (clean_msa6["Bachelor's degree or higher, 2013-17"] - clean_msa6["Bachelor's degree or higher, 2000"])/clean_msa6["Bachelor's degree or higher, 2000"]
clean_msa7['Enterprises change'] = (clean_msa6["Total Number of Enterprises (2010)"] - clean_msa6["Total Number of Enterprises (2000)"])/clean_msa6["Total Number of Enterprises (2000)"]
clean_msa7.drop(['index', 'MSA_Code'], inplace = True, axis =1)

In [0]:
clean_msa7

,"Bachelor's degree or higher, 2000","Bachelor's degree or higher, 2013-17",Total Number of Enterprises (2000),Total Number of Enterprises (2010),Population Change From 2000 to 2010 (%),Percent Change in GDP (2001 to 2007),Education change,Enterprises change
MSA,,,,,,,,
"Abilene, TX",16951.0,19767.0,20822.0,20170.0,3.124590471,0.159867,0.166126,-0.031313
"Akron, OH",110875.0,147622.0,104590.0,99360.0,1.185679751,0.087970,0.331427,-0.050005
"Albany, GA",12897.0,16963.0,16592.0,16928.0,-0.332630058,0.000753,0.315267,0.020251
"Albany/Schenectady/Troy, NY",164967.0,224332.0,121318.0,132984.0,5.429514152,0.011663,0.359860,0.096161
"Albuquerque, NM",129503.0,189701.0,105264.0,110622.0,21.5758536,0.049326,0.464839,0.050901
"Alexandria, LA",13205.0,17433.0,18338.0,19538.0,6.127486469,0.118305,0.320182,0.065438
"Allentown/Bethlehem/Easton, PA",92279.0,139162.0,89242.0,94560.0,10.9101223,-0.013964,0.508057,0.059591
"Altoona, PA",12268.0,17955.0,19546.0,19294.0,-1.59124698,0.076935,0.463564,-0.012893
"Amarillo, TX",28356.0,37755.0,33402.0,35108.0,10.31202267,0.104980,0.331464,0.051075
"Ann Arbor, MI",134028.0,180477.0,84196.0,82856.0,19.15364278,0.146597,0.346562,-0.015915
"Anniston, AL",11265.0,14113.0,15288.0,14550.0,6.781151768,0.037274,0.252818,-0.048273
"Asheville, NC",38447.0,74651.0,39832.0,45026.0,5.633012321,NaN,0.941660,0.130398
"Athens, GA",29038.0,42747.0,21978.0,25214.0,15.08433761,0.057409,0.472106,0.147238
"Atlanta, GA",687072.0,1152335.0,572892.0,663158.0,15.9333811,0.022971,0.677168,0.157562
"Atlantic/Cape May, NJ",47557.0,71669.0,61782.0,61974.0,24.03209901,NaN,0.507013,0.003108
"Auburn/Opelika, AL",17351.0,32222.0,11860.0,14100.0,8.709889449,0.095789,0.857069,0.188870
"Augusta/Aiken, GA/SC",63119.0,95683.0,57700.0,60120.0,21.8564279,0.152966,0.515914,0.041941
"Austin/San Marcos, TX",281822.0,567710.0,188416.0,246672.0,11.44583377,-0.014522,1.014428,0.309188
"Bakersfield, CA",51869.0,83081.0,64622.0,71438.0,37.32915761,NaN,0.601747,0.105475
"Baltimore, MD",406395.0,601299.0,281752.0,308610.0,26.90052823,NaN,0.479593,0.095325
"Bangor, ME",24951.0,36758.0,29762.0,30974.0,6.169031341,NaN,0.473207,0.040723
"Barnstable/Yarmouth, MA",55463.0,68847.0,48866.0,49212.0,6.213125953,0.005867,0.241314,0.007081
"Baton Rouge, LA",90141.0,136620.0,87302.0,97412.0,-2.853800117,0.009009,0.515626,0.115805
"Beaumont/Port Arthur, TX",36218.0,46950.0,48250.0,47524.0,13.67063613,0.165236,0.296317,-0.015047
"Bellingham, WA",27988.0,47150.0,31868.0,37428.0,0.949128775,0.238053,0.684651,0.174470
"Billings, MT",22222.0,32157.0,29044.0,32990.0,20.57740957,0.154773,0.447079,0.135863
"Binghamton, NY",36754.0,44999.0,30298.0,30642.0,13.78362034,0.250675,0.224329,0.011354
"Birmingham, AL",144717.0,207510.0,130706.0,132696.0,-0.235811668,0.150398,0.433902,0.015225
"Bismarck, ND",15622.0,27423.0,17680.0,20540.0,7.204548781,0.080201,0.755409,0.161765
"Bloomington, IN",25952.0,37498.0,17388.0,17928.0,14.84390671,0.072867,0.444898,0.031056
...,...,...,...,...,...,...,...,...
"Tampa/St. Petersburg/Clearwater, FL",367507.0,613452.0,365908.0,415870.0,21.59482468,NaN,0.669225,0.136543
"Terre Haute, IN",17755.0,20708.0,20650.0,20318.0,2.685243583,0.068376,0.166319,-0.016077
"Texarkana, TX/Texarkana, AR",12708.0,16840.0,16996.0,17374.0,1.910778062,0.101573,0.325150,0.022241
"Toledo, OH",84144.0,105152.0,88394.0,81848.0,14.70759029,0.020913,0.249667,-0.074055
"Topeka, KS",29094.0,36483.0,27320.0,26418.0,16.16220721,0.143532,0.253970,-0.033016
"Trenton, NJ",78506.0,103725.0,57338.0,58460.0,0.866955652,0.155129,0.321237,0.019568
"Tucson, AZ",146108.0,210880.0,110600.0,121718.0,4.838572937,NaN,0.443316,0.100524
"Tulsa, OK",119421.0,168096.0,131814.0,138390.0,-1.177054194,0.065956,0.407592,0.049888
"Tuscaloosa, AL",23804.0,37825.0,23586.0,24054.0,4.150059452,-0.004540,0.589019,0.019842
"Tyler, TX",25033.0,36401.0,28894.0,32552.0,4.490807131,NaN,0.454121,0.126601
"Utica/Rome, NY",35885.0,47318.0,36558.0,36374.0,16.1798693,0.039615,0.318601,-0.005033
"Vallejo/Fairfield/Napa, CA",74865.0,109332.0,60528.0,63982.0,9.068423282,0.242748,0.460389,0.057064
"Victoria, TX",8446.0,11579.0,13146.0,13532.0,14.28236666,0.223690,0.370945,0.029363
"Vineland/Millville/Bridgeton, NJ",11385.0,15013.0,17996.0,17802.0,20.03823566,0.092709,0.318665,-0.010780
"Visalia/Tulare/Porterville, CA",23560.0,36891.0,35132.0,36764.0,-0.166391016,0.099555,0.565832,0.046453
"Waco, TX",24059.0,33923.0,28784.0,29498.0,4.765525597,0.109622,0.409992,0.024805
"Washington, DC/MD/VA/WV",1022680.0,1555795.0,509988.0,605398.0,3.332348226,0.223857,0.521292,0.187083
"Waterloo/Cedar Falls, IA",18018.0,22969.0,18882.0,19332.0,7.142954698,NaN,0.274781,0.023832
"Wausau, WI",14994.0,22775.0,20482.0,20366.0,20.15048054,0.160466,0.518941,-0.005664
"Wheeling, WV/OH",15606.0,21412.0,22460.0,20746.0,10.01746933,0.167490,0.372036,-0.076313
"Wichita Falls, TX",17034.0,20241.0,20686.0,20396.0,16.38776085,0.123442,0.188271,-0.014019
"Wichita, KS",84370.0,120199.0,83118.0,85236.0,2.512430821,0.249025,0.424665,0.025482
"Williamsport, PA",12123.0,17740.0,17058.0,17094.0,6.539568002,0.138169,0.463334,0.002110
"Wilmington, NC",41790.0,84854.0,45794.0,53832.0,-3.409239287,0.105901,1.030486,0.175525
"Worchester, MA/CT",13512.0,19712.0,12918.0,12882.0,9.085799925,0.100339,0.458851,-0.002787
"Yakima, WA",20005.0,23796.0,28230.0,28068.0,-0.143871598,0.112436,0.189503,-0.005739
"York, PA",47604.0,72548.0,48804.0,51432.0,-3.27629869,0.032526,0.523990,0.053848
"Youngstown/Warren, OH",60887.0,75583.0,80644.0,73156.0,31.97550741,0.069786,0.241365,-0.092853
"Yuba City, CA",11139.0,18445.0,14672.0,15108.0,6.337063211,NaN,0.655894,0.029716
"Yuma, AZ",11569.0,18295.0,15066.0,17664.0,9.277521442,0.103121,0.581381,0.172441

In [0]:
clean_msa8_test = clean_msa7.dropna()
clean_msa8_test

,"Bachelor's degree or higher, 2000","Bachelor's degree or higher, 2013-17",Total Number of Enterprises (2000),Total Number of Enterprises (2010),Population Change From 2000 to 2010 (%),Percent Change in GDP (2001 to 2007),Education change,Enterprises change
MSA,,,,,,,,
"Abilene, TX",16951.0,19767.0,20822.0,20170.0,3.124590471,0.159867,0.166126,-0.031313
"Akron, OH",110875.0,147622.0,104590.0,99360.0,1.185679751,0.087970,0.331427,-0.050005
"Albany, GA",12897.0,16963.0,16592.0,16928.0,-0.332630058,0.000753,0.315267,0.020251
"Albany/Schenectady/Troy, NY",164967.0,224332.0,121318.0,132984.0,5.429514152,0.011663,0.359860,0.096161
"Albuquerque, NM",129503.0,189701.0,105264.0,110622.0,21.5758536,0.049326,0.464839,0.050901
"Alexandria, LA",13205.0,17433.0,18338.0,19538.0,6.127486469,0.118305,0.320182,0.065438
"Allentown/Bethlehem/Easton, PA",92279.0,139162.0,89242.0,94560.0,10.9101223,-0.013964,0.508057,0.059591
"Altoona, PA",12268.0,17955.0,19546.0,19294.0,-1.59124698,0.076935,0.463564,-0.012893
"Amarillo, TX",28356.0,37755.0,33402.0,35108.0,10.31202267,0.104980,0.331464,0.051075
"Ann Arbor, MI",134028.0,180477.0,84196.0,82856.0,19.15364278,0.146597,0.346562,-0.015915
"Anniston, AL",11265.0,14113.0,15288.0,14550.0,6.781151768,0.037274,0.252818,-0.048273
"Athens, GA",29038.0,42747.0,21978.0,25214.0,15.08433761,0.057409,0.472106,0.147238
"Atlanta, GA",687072.0,1152335.0,572892.0,663158.0,15.9333811,0.022971,0.677168,0.157562
"Auburn/Opelika, AL",17351.0,32222.0,11860.0,14100.0,8.709889449,0.095789,0.857069,0.188870
"Augusta/Aiken, GA/SC",63119.0,95683.0,57700.0,60120.0,21.8564279,0.152966,0.515914,0.041941
"Austin/San Marcos, TX",281822.0,567710.0,188416.0,246672.0,11.44583377,-0.014522,1.014428,0.309188
"Barnstable/Yarmouth, MA",55463.0,68847.0,48866.0,49212.0,6.213125953,0.005867,0.241314,0.007081
"Baton Rouge, LA",90141.0,136620.0,87302.0,97412.0,-2.853800117,0.009009,0.515626,0.115805
"Beaumont/Port Arthur, TX",36218.0,46950.0,48250.0,47524.0,13.67063613,0.165236,0.296317,-0.015047
"Bellingham, WA",27988.0,47150.0,31868.0,37428.0,0.949128775,0.238053,0.684651,0.174470
"Billings, MT",22222.0,32157.0,29044.0,32990.0,20.57740957,0.154773,0.447079,0.135863
"Binghamton, NY",36754.0,44999.0,30298.0,30642.0,13.78362034,0.250675,0.224329,0.011354
"Birmingham, AL",144717.0,207510.0,130706.0,132696.0,-0.235811668,0.150398,0.433902,0.015225
"Bismarck, ND",15622.0,27423.0,17680.0,20540.0,7.204548781,0.080201,0.755409,0.161765
"Bloomington, IN",25952.0,37498.0,17388.0,17928.0,14.84390671,0.072867,0.444898,0.031056
"Boise City, ID",70235.0,131647.0,77748.0,94562.0,9.804792999,0.092713,0.874379,0.216263
"Brownsville/Harlingen/San Benito, TX",24985.0,41887.0,34400.0,37910.0,8.261448728,0.067033,0.676486,0.102035
"Buffalo/Niagara Falls, NY",182144.0,246726.0,159592.0,161278.0,3.882084873,0.193138,0.354566,0.010564
"Burlington, VT",44225.0,62616.0,39020.0,40258.0,21.17759011,0.011961,0.415851,0.031727
"Casper, WY",8538.0,12402.0,15574.0,17450.0,6.220555184,0.148592,0.452565,0.120457
...,...,...,...,...,...,...,...,...
"St. Louis, MO/IL",82795.0,138868.0,113662.0,120026.0,0.808746207,0.118158,0.677251,0.055991
"Steubenville/Weirton, OH/WV",27207.0,39940.0,31374.0,29652.0,4.335350507,-0.016555,0.468005,-0.054886
"Stockton/Lodi, CA",48468.0,81503.0,60258.0,64806.0,1.90113733,0.031265,0.681584,0.075475
"Sumter, SC",10147.0,13571.0,11104.0,10910.0,18.55125497,0.101444,0.337440,-0.017471
"Syracuse, NY",113530.0,150827.0,98370.0,101308.0,13.42977946,0.031699,0.328521,0.029867
"Terre Haute, IN",17755.0,20708.0,20650.0,20318.0,2.685243583,0.068376,0.166319,-0.016077
"Texarkana, TX/Texarkana, AR",12708.0,16840.0,16996.0,17374.0,1.910778062,0.101573,0.325150,0.022241
"Toledo, OH",84144.0,105152.0,88394.0,81848.0,14.70759029,0.020913,0.249667,-0.074055
"Topeka, KS",29094.0,36483.0,27320.0,26418.0,16.16220721,0.143532,0.253970,-0.033016
"Trenton, NJ",78506.0,103725.0,57338.0,58460.0,0.866955652,0.155129,0.321237,0.019568
"Tulsa, OK",119421.0,168096.0,131814.0,138390.0,-1.177054194,0.065956,0.407592,0.049888
"Tuscaloosa, AL",23804.0,37825.0,23586.0,24054.0,4.150059452,-0.004540,0.589019,0.019842
"Utica/Rome, NY",35885.0,47318.0,36558.0,36374.0,16.1798693,0.039615,0.318601,-0.005033
"Vallejo/Fairfield/Napa, CA",74865.0,109332.0,60528.0,63982.0,9.068423282,0.242748,0.460389,0.057064
"Victoria, TX",8446.0,11579.0,13146.0,13532.0,14.28236666,0.223690,0.370945,0.029363
"Vineland/Millville/Bridgeton, NJ",11385.0,15013.0,17996.0,17802.0,20.03823566,0.092709,0.318665,-0.010780
"Visalia/Tulare/Porterville, CA",23560.0,36891.0,35132.0,36764.0,-0.166391016,0.099555,0.565832,0.046453
"Waco, TX",24059.0,33923.0,28784.0,29498.0,4.765525597,0.109622,0.409992,0.024805
"Washington, DC/MD/VA/WV",1022680.0,1555795.0,509988.0,605398.0,3.332348226,0.223857,0.521292,0.187083
"Wausau, WI",14994.0,22775.0,20482.0,20366.0,20.15048054,0.160466,0.518941,-0.005664
"Wheeling, WV/OH",15606.0,21412.0,22460.0,20746.0,10.01746933,0.167490,0.372036,-0.076313
"Wichita Falls, TX",17034.0,20241.0,20686.0,20396.0,16.38776085,0.123442,0.188271,-0.014019
"Wichita, KS",84370.0,120199.0,83118.0,85236.0,2.512430821,0.249025,0.424665,0.025482
"Williamsport, PA",12123.0,17740.0,17058.0,17094.0,6.539568002,0.138169,0.463334,0.002110
"Wilmington, NC",41790.0,84854.0,45794.0,53832.0,-3.409239287,0.105901,1.030486,0.175525
"Worchester, MA/CT",13512.0,19712.0,12918.0,12882.0,9.085799925,0.100339,0.458851,-0.002787
"Yakima, WA",20005.0,23796.0,28230.0,28068.0,-0.143871598,0.112436,0.189503,-0.005739
"York, PA",47604.0,72548.0,48804.0,51432.0,-3.27629869,0.032526,0.523990,0.053848
"Youngstown/Warren, OH",60887.0,75583.0,80644.0,73156.0,31.97550741,0.069786,0.241365,-0.092853
"Yuma, AZ",11569.0,18295.0,15066.0,17664.0,9.277521442,0.103121,0.581381,0.172441

In [0]:
cols_to_drop = [0, 1, 2, 3]
clean_msa9_test = clean_msa8_test.drop(clean_msa8_test.columns[cols_to_drop], axis=1)
clean_msa10_test = clean_msa9_test.rename(columns={"Population Change From 2000 to 2010 (%)": "Population Change", 
                                                  "Percent Change in GDP (2001 to 2007)":"Change in GDP", 
                                                  "Education Change":"Change of Individuals with Bachelors' Degrees", 
                                                  "Enterprises Change":"Change of Number of Enterprises"})


lst_pop = str_to_float(clean_msa10_test["Population Change"])

clean_msa10_test["Population Change"] = lst_pop

clean_msa11_test = clean_msa10_test

clean_msa11_test["Population Change"] = clean_msa11_test["Population Change"] / 100

clean_msa12_test = clean_msa11_test

clean_msa12_test

,Population Change,Change in GDP,Education change,Enterprises change
MSA,,,,
"Abilene, TX",0.031246,0.159867,0.166126,-0.031313
"Akron, OH",0.011857,0.087970,0.331427,-0.050005
"Albany, GA",-0.003326,0.000753,0.315267,0.020251
"Albany/Schenectady/Troy, NY",0.054295,0.011663,0.359860,0.096161
"Albuquerque, NM",0.215759,0.049326,0.464839,0.050901
"Alexandria, LA",0.061275,0.118305,0.320182,0.065438
"Allentown/Bethlehem/Easton, PA",0.109101,-0.013964,0.508057,0.059591
"Altoona, PA",-0.015912,0.076935,0.463564,-0.012893
"Amarillo, TX",0.103120,0.104980,0.331464,0.051075
"Ann Arbor, MI",0.191536,0.146597,0.346562,-0.015915
"Anniston, AL",0.067812,0.037274,0.252818,-0.048273
"Athens, GA",0.150843,0.057409,0.472106,0.147238
"Atlanta, GA",0.159334,0.022971,0.677168,0.157562
"Auburn/Opelika, AL",0.087099,0.095789,0.857069,0.188870
"Augusta/Aiken, GA/SC",0.218564,0.152966,0.515914,0.041941
"Austin/San Marcos, TX",0.114458,-0.014522,1.014428,0.309188
"Barnstable/Yarmouth, MA",0.062131,0.005867,0.241314,0.007081
"Baton Rouge, LA",-0.028538,0.009009,0.515626,0.115805
"Beaumont/Port Arthur, TX",0.136706,0.165236,0.296317,-0.015047
"Bellingham, WA",0.009491,0.238053,0.684651,0.174470
"Billings, MT",0.205774,0.154773,0.447079,0.135863
"Binghamton, NY",0.137836,0.250675,0.224329,0.011354
"Birmingham, AL",-0.002358,0.150398,0.433902,0.015225
"Bismarck, ND",0.072045,0.080201,0.755409,0.161765
"Bloomington, IN",0.148439,0.072867,0.444898,0.031056
"Boise City, ID",0.098048,0.092713,0.874379,0.216263
"Brownsville/Harlingen/San Benito, TX",0.082614,0.067033,0.676486,0.102035
"Buffalo/Niagara Falls, NY",0.038821,0.193138,0.354566,0.010564
"Burlington, VT",0.211776,0.011961,0.415851,0.031727
"Casper, WY",0.062206,0.148592,0.452565,0.120457
...,...,...,...,...
"St. Louis, MO/IL",0.008087,0.118158,0.677251,0.055991
"Steubenville/Weirton, OH/WV",0.043354,-0.016555,0.468005,-0.054886
"Stockton/Lodi, CA",0.019011,0.031265,0.681584,0.075475
"Sumter, SC",0.185513,0.101444,0.337440,-0.017471
"Syracuse, NY",0.134298,0.031699,0.328521,0.029867
"Terre Haute, IN",0.026852,0.068376,0.166319,-0.016077
"Texarkana, TX/Texarkana, AR",0.019108,0.101573,0.325150,0.022241
"Toledo, OH",0.147076,0.020913,0.249667,-0.074055
"Topeka, KS",0.161622,0.143532,0.253970,-0.033016
"Trenton, NJ",0.008670,0.155129,0.321237,0.019568
"Tulsa, OK",-0.011771,0.065956,0.407592,0.049888
"Tuscaloosa, AL",0.041501,-0.004540,0.589019,0.019842
"Utica/Rome, NY",0.161799,0.039615,0.318601,-0.005033
"Vallejo/Fairfield/Napa, CA",0.090684,0.242748,0.460389,0.057064
"Victoria, TX",0.142824,0.223690,0.370945,0.029363
"Vineland/Millville/Bridgeton, NJ",0.200382,0.092709,0.318665,-0.010780
"Visalia/Tulare/Porterville, CA",-0.001664,0.099555,0.565832,0.046453
"Waco, TX",0.047655,0.109622,0.409992,0.024805
"Washington, DC/MD/VA/WV",0.033323,0.223857,0.521292,0.187083
"Wausau, WI",0.201505,0.160466,0.518941,-0.005664
"Wheeling, WV/OH",0.100175,0.167490,0.372036,-0.076313
"Wichita Falls, TX",0.163878,0.123442,0.188271,-0.014019
"Wichita, KS",0.025124,0.249025,0.424665,0.025482
"Williamsport, PA",0.065396,0.138169,0.463334,0.002110
"Wilmington, NC",-0.034092,0.105901,1.030486,0.175525
"Worchester, MA/CT",0.090858,0.100339,0.458851,-0.002787
"Yakima, WA",-0.001439,0.112436,0.189503,-0.005739
"York, PA",-0.032763,0.032526,0.523990,0.053848
"Youngstown/Warren, OH",0.319755,0.069786,0.241365,-0.092853
"Yuma, AZ",0.092775,0.103121,0.581381,0.172441

In [0]:
training_data =clean_msa12_test.loc[established + declined]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

In [0]:
training_data['Established indicator'] = np.append(np.ones(13), np.zeros(14))
training_data2 = training_data.dropna()
training_data2

,Population Change,Change in GDP,Education change,Enterprises change,Established indicator
MSA,,,,,
"Raleigh/Durham/Chapel Hill, NC",0.124343,-0.021470,0.844925,0.198460,1.0
"San Diego, CA",0.042320,0.028480,0.568093,0.129163,1.0
"New York, NY",0.212035,0.054711,0.423402,0.052386,1.0
"Washington, DC/MD/VA/WV",0.033323,0.223857,0.521292,0.187083,1.0
"Dallas, TX",0.095019,0.733675,0.671146,0.108186,1.0
"Minneapolis/St. Paul, MN/WI",0.214857,0.239004,0.500701,0.065752,1.0
"Denver, CO",0.054584,0.056378,0.623811,0.076912,1.0
"Atlanta, GA",0.159334,0.022971,0.677168,0.157562,1.0
"Austin/San Marcos, TX",0.114458,-0.014522,1.014428,0.309188,1.0
"San Jose, CA",0.033092,0.036378,0.455148,-0.022942,1.0
"San Francisco, CA",0.125352,0.015292,0.364258,-0.027155,1.0
"Flint, MI",0.334709,0.116400,0.260814,-0.127151,0.0
"Merced, CA",0.121019,-0.003199,0.670363,-0.014714,0.0
"Akron, OH",0.011857,0.087970,0.331427,-0.050005,0.0
"Pittsburgh, PA",0.048917,0.116837,0.426729,-0.015353,0.0
"Toledo, OH",0.147076,0.020913,0.249667,-0.074055,0.0
"St. Louis, MO/IL",0.008087,0.118158,0.677251,0.055991,0.0
"Visalia/Tulare/Porterville, CA",-0.001664,0.099555,0.565832,0.046453,0.0
"Syracuse, NY",0.134298,0.031699,0.328521,0.029867,0.0
"Youngstown/Warren, OH",0.319755,0.069786,0.241365,-0.092853,0.0

In [0]:
test_data_final = clean_msa12_test.drop(index = training_data2.index)
test_data_final

,Population Change,Change in GDP,Education change,Enterprises change
MSA,,,,
"Abilene, TX",0.031246,0.159867,0.166126,-0.031313
"Albany, GA",-0.003326,0.000753,0.315267,0.020251
"Albany/Schenectady/Troy, NY",0.054295,0.011663,0.359860,0.096161
"Albuquerque, NM",0.215759,0.049326,0.464839,0.050901
"Alexandria, LA",0.061275,0.118305,0.320182,0.065438
"Allentown/Bethlehem/Easton, PA",0.109101,-0.013964,0.508057,0.059591
"Altoona, PA",-0.015912,0.076935,0.463564,-0.012893
"Amarillo, TX",0.103120,0.104980,0.331464,0.051075
"Ann Arbor, MI",0.191536,0.146597,0.346562,-0.015915
"Anniston, AL",0.067812,0.037274,0.252818,-0.048273
"Athens, GA",0.150843,0.057409,0.472106,0.147238
"Auburn/Opelika, AL",0.087099,0.095789,0.857069,0.188870
"Augusta/Aiken, GA/SC",0.218564,0.152966,0.515914,0.041941
"Barnstable/Yarmouth, MA",0.062131,0.005867,0.241314,0.007081
"Baton Rouge, LA",-0.028538,0.009009,0.515626,0.115805
"Beaumont/Port Arthur, TX",0.136706,0.165236,0.296317,-0.015047
"Bellingham, WA",0.009491,0.238053,0.684651,0.174470
"Billings, MT",0.205774,0.154773,0.447079,0.135863
"Binghamton, NY",0.137836,0.250675,0.224329,0.011354
"Birmingham, AL",-0.002358,0.150398,0.433902,0.015225
"Bismarck, ND",0.072045,0.080201,0.755409,0.161765
"Bloomington, IN",0.148439,0.072867,0.444898,0.031056
"Boise City, ID",0.098048,0.092713,0.874379,0.216263
"Brownsville/Harlingen/San Benito, TX",0.082614,0.067033,0.676486,0.102035
"Buffalo/Niagara Falls, NY",0.038821,0.193138,0.354566,0.010564
"Burlington, VT",0.211776,0.011961,0.415851,0.031727
"Casper, WY",0.062206,0.148592,0.452565,0.120457
"Cedar Rapids, IA",-0.006173,-0.012568,0.380505,0.016549
"Champaign/Urbana, IL",0.134024,0.492096,0.379561,0.039655
"Charleston, WV",0.087299,0.176955,0.231758,-0.051642
...,...,...,...,...
"Spokane, WA",0.130075,0.151743,0.458091,0.069479
"Springfield, IL",0.025398,0.049613,0.287918,-0.038001
"Springfield, MA",0.092970,0.160345,0.341766,-0.059155
"Springfield, MO",0.060216,0.004770,0.629878,0.078256
"St. Cloud, MN",0.003663,0.166182,0.541851,0.124803
"St. Joseph, MO",0.220040,0.236819,0.317652,0.022025
"Steubenville/Weirton, OH/WV",0.043354,-0.016555,0.468005,-0.054886
"Stockton/Lodi, CA",0.019011,0.031265,0.681584,0.075475
"Sumter, SC",0.185513,0.101444,0.337440,-0.017471
"Terre Haute, IN",0.026852,0.068376,0.166319,-0.016077
"Texarkana, TX/Texarkana, AR",0.019108,0.101573,0.325150,0.022241
"Topeka, KS",0.161622,0.143532,0.253970,-0.033016
"Trenton, NJ",0.008670,0.155129,0.321237,0.019568
"Tulsa, OK",-0.011771,0.065956,0.407592,0.049888
"Tuscaloosa, AL",0.041501,-0.004540,0.589019,0.019842
"Utica/Rome, NY",0.161799,0.039615,0.318601,-0.005033
"Vallejo/Fairfield/Napa, CA",0.090684,0.242748,0.460389,0.057064
"Victoria, TX",0.142824,0.223690,0.370945,0.029363
"Vineland/Millville/Bridgeton, NJ",0.200382,0.092709,0.318665,-0.010780
"Waco, TX",0.047655,0.109622,0.409992,0.024805
"Wausau, WI",0.201505,0.160466,0.518941,-0.005664
"Wheeling, WV/OH",0.100175,0.167490,0.372036,-0.076313
"Wichita Falls, TX",0.163878,0.123442,0.188271,-0.014019
"Wichita, KS",0.025124,0.249025,0.424665,0.025482
"Williamsport, PA",0.065396,0.138169,0.463334,0.002110
"Wilmington, NC",-0.034092,0.105901,1.030486,0.175525
"Worchester, MA/CT",0.090858,0.100339,0.458851,-0.002787
"Yakima, WA",-0.001439,0.112436,0.189503,-0.005739
"York, PA",-0.032763,0.032526,0.523990,0.053848
"Yuma, AZ",0.092775,0.103121,0.581381,0.172441

In [0]:
#Training model on the training set

X_train = training_data2.iloc[:, 0:4]
y_train = training_data2["Established indicator"]

lr_model = LogisticRegression().fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [0]:
#Listing out training accuracy

train_predictions = (lr_model.predict_proba(X_train)[:, 1] >= 0.56).astype(int)
train_predictions

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0])

In [0]:
accuracy_score(y_train, train_predictions)

0.7

In [0]:
#Testing model

X_test = test_data_final.iloc[:, 0:4]


test_predictions = (lr_model.predict_proba(X_test)[:, 1] >= 0.56).astype(int)
(test_predictions == 0).sum()

124

In [0]:
test_data_final["Predicted indicator"] = test_predictions
test_data_final2 = test_data_final
test_data_final3 = test_data_final2.drop(columns="Predicted indicator")
test_data_final3

,Population Change,Change in GDP,Education change,Enterprises change
MSA,,,,
"Abilene, TX",0.031246,0.159867,0.166126,-0.031313
"Albany, GA",-0.003326,0.000753,0.315267,0.020251
"Albany/Schenectady/Troy, NY",0.054295,0.011663,0.359860,0.096161
"Albuquerque, NM",0.215759,0.049326,0.464839,0.050901
"Alexandria, LA",0.061275,0.118305,0.320182,0.065438
"Allentown/Bethlehem/Easton, PA",0.109101,-0.013964,0.508057,0.059591
"Altoona, PA",-0.015912,0.076935,0.463564,-0.012893
"Amarillo, TX",0.103120,0.104980,0.331464,0.051075
"Ann Arbor, MI",0.191536,0.146597,0.346562,-0.015915
"Anniston, AL",0.067812,0.037274,0.252818,-0.048273
"Athens, GA",0.150843,0.057409,0.472106,0.147238
"Auburn/Opelika, AL",0.087099,0.095789,0.857069,0.188870
"Augusta/Aiken, GA/SC",0.218564,0.152966,0.515914,0.041941
"Barnstable/Yarmouth, MA",0.062131,0.005867,0.241314,0.007081
"Baton Rouge, LA",-0.028538,0.009009,0.515626,0.115805
"Beaumont/Port Arthur, TX",0.136706,0.165236,0.296317,-0.015047
"Bellingham, WA",0.009491,0.238053,0.684651,0.174470
"Billings, MT",0.205774,0.154773,0.447079,0.135863
"Binghamton, NY",0.137836,0.250675,0.224329,0.011354
"Birmingham, AL",-0.002358,0.150398,0.433902,0.015225
"Bismarck, ND",0.072045,0.080201,0.755409,0.161765
"Bloomington, IN",0.148439,0.072867,0.444898,0.031056
"Boise City, ID",0.098048,0.092713,0.874379,0.216263
"Brownsville/Harlingen/San Benito, TX",0.082614,0.067033,0.676486,0.102035
"Buffalo/Niagara Falls, NY",0.038821,0.193138,0.354566,0.010564
"Burlington, VT",0.211776,0.011961,0.415851,0.031727
"Casper, WY",0.062206,0.148592,0.452565,0.120457
"Cedar Rapids, IA",-0.006173,-0.012568,0.380505,0.016549
"Champaign/Urbana, IL",0.134024,0.492096,0.379561,0.039655
"Charleston, WV",0.087299,0.176955,0.231758,-0.051642
...,...,...,...,...
"Spokane, WA",0.130075,0.151743,0.458091,0.069479
"Springfield, IL",0.025398,0.049613,0.287918,-0.038001
"Springfield, MA",0.092970,0.160345,0.341766,-0.059155
"Springfield, MO",0.060216,0.004770,0.629878,0.078256
"St. Cloud, MN",0.003663,0.166182,0.541851,0.124803
"St. Joseph, MO",0.220040,0.236819,0.317652,0.022025
"Steubenville/Weirton, OH/WV",0.043354,-0.016555,0.468005,-0.054886
"Stockton/Lodi, CA",0.019011,0.031265,0.681584,0.075475
"Sumter, SC",0.185513,0.101444,0.337440,-0.017471
"Terre Haute, IN",0.026852,0.068376,0.166319,-0.016077
"Texarkana, TX/Texarkana, AR",0.019108,0.101573,0.325150,0.022241
"Topeka, KS",0.161622,0.143532,0.253970,-0.033016
"Trenton, NJ",0.008670,0.155129,0.321237,0.019568
"Tulsa, OK",-0.011771,0.065956,0.407592,0.049888
"Tuscaloosa, AL",0.041501,-0.004540,0.589019,0.019842
"Utica/Rome, NY",0.161799,0.039615,0.318601,-0.005033
"Vallejo/Fairfield/Napa, CA",0.090684,0.242748,0.460389,0.057064
"Victoria, TX",0.142824,0.223690,0.370945,0.029363
"Vineland/Millville/Bridgeton, NJ",0.200382,0.092709,0.318665,-0.010780
"Waco, TX",0.047655,0.109622,0.409992,0.024805
"Wausau, WI",0.201505,0.160466,0.518941,-0.005664
"Wheeling, WV/OH",0.100175,0.167490,0.372036,-0.076313
"Wichita Falls, TX",0.163878,0.123442,0.188271,-0.014019
"Wichita, KS",0.025124,0.249025,0.424665,0.025482
"Williamsport, PA",0.065396,0.138169,0.463334,0.002110
"Wilmington, NC",-0.034092,0.105901,1.030486,0.175525
"Worchester, MA/CT",0.090858,0.100339,0.458851,-0.002787
"Yakima, WA",-0.001439,0.112436,0.189503,-0.005739
"York, PA",-0.032763,0.032526,0.523990,0.053848
"Yuma, AZ",0.092775,0.103121,0.581381,0.172441

In [0]:
training_data3 = training_data2.rename(columns = {'Established indicator': "Predicted indicator"})
combined_df = test_data_final2.append(training_data3)
combined_df

,Population Change,Change in GDP,Education change,Enterprises change,Predicted indicator
MSA,,,,,
"Abilene, TX",0.031246,0.159867,0.166126,-0.031313,0.0
"Albany, GA",-0.003326,0.000753,0.315267,0.020251,0.0
"Albany/Schenectady/Troy, NY",0.054295,0.011663,0.359860,0.096161,0.0
"Albuquerque, NM",0.215759,0.049326,0.464839,0.050901,0.0
"Alexandria, LA",0.061275,0.118305,0.320182,0.065438,0.0
"Allentown/Bethlehem/Easton, PA",0.109101,-0.013964,0.508057,0.059591,0.0
"Altoona, PA",-0.015912,0.076935,0.463564,-0.012893,0.0
"Amarillo, TX",0.103120,0.104980,0.331464,0.051075,0.0
"Ann Arbor, MI",0.191536,0.146597,0.346562,-0.015915,0.0
"Anniston, AL",0.067812,0.037274,0.252818,-0.048273,0.0
"Athens, GA",0.150843,0.057409,0.472106,0.147238,1.0
"Auburn/Opelika, AL",0.087099,0.095789,0.857069,0.188870,1.0
"Augusta/Aiken, GA/SC",0.218564,0.152966,0.515914,0.041941,0.0
"Barnstable/Yarmouth, MA",0.062131,0.005867,0.241314,0.007081,0.0
"Baton Rouge, LA",-0.028538,0.009009,0.515626,0.115805,1.0
"Beaumont/Port Arthur, TX",0.136706,0.165236,0.296317,-0.015047,0.0
"Bellingham, WA",0.009491,0.238053,0.684651,0.174470,1.0
"Billings, MT",0.205774,0.154773,0.447079,0.135863,1.0
"Binghamton, NY",0.137836,0.250675,0.224329,0.011354,0.0
"Birmingham, AL",-0.002358,0.150398,0.433902,0.015225,0.0
"Bismarck, ND",0.072045,0.080201,0.755409,0.161765,1.0
"Bloomington, IN",0.148439,0.072867,0.444898,0.031056,0.0
"Boise City, ID",0.098048,0.092713,0.874379,0.216263,1.0
"Brownsville/Harlingen/San Benito, TX",0.082614,0.067033,0.676486,0.102035,1.0
"Buffalo/Niagara Falls, NY",0.038821,0.193138,0.354566,0.010564,0.0
"Burlington, VT",0.211776,0.011961,0.415851,0.031727,0.0
"Casper, WY",0.062206,0.148592,0.452565,0.120457,1.0
"Cedar Rapids, IA",-0.006173,-0.012568,0.380505,0.016549,0.0
"Champaign/Urbana, IL",0.134024,0.492096,0.379561,0.039655,0.0
"Charleston, WV",0.087299,0.176955,0.231758,-0.051642,0.0
...,...,...,...,...,...
"Wausau, WI",0.201505,0.160466,0.518941,-0.005664,0.0
"Wheeling, WV/OH",0.100175,0.167490,0.372036,-0.076313,0.0
"Wichita Falls, TX",0.163878,0.123442,0.188271,-0.014019,0.0
"Wichita, KS",0.025124,0.249025,0.424665,0.025482,0.0
"Williamsport, PA",0.065396,0.138169,0.463334,0.002110,0.0
"Wilmington, NC",-0.034092,0.105901,1.030486,0.175525,1.0
"Worchester, MA/CT",0.090858,0.100339,0.458851,-0.002787,0.0
"Yakima, WA",-0.001439,0.112436,0.189503,-0.005739,0.0
"York, PA",-0.032763,0.032526,0.523990,0.053848,0.0
"Yuma, AZ",0.092775,0.103121,0.581381,0.172441,1.0
"Raleigh/Durham/Chapel Hill, NC",0.124343,-0.021470,0.844925,0.198460,1.0
"San Diego, CA",0.042320,0.028480,0.568093,0.129163,1.0
"New York, NY",0.212035,0.054711,0.423402,0.052386,1.0
"Washington, DC/MD/VA/WV",0.033323,0.223857,0.521292,0.187083,1.0
"Dallas, TX",0.095019,0.733675,0.671146,0.108186,1.0
"Minneapolis/St. Paul, MN/WI",0.214857,0.239004,0.500701,0.065752,1.0
"Denver, CO",0.054584,0.056378,0.623811,0.076912,1.0
"Atlanta, GA",0.159334,0.022971,0.677168,0.157562,1.0
"Austin/San Marcos, TX",0.114458,-0.014522,1.014428,0.309188,1.0
"San Jose, CA",0.033092,0.036378,0.455148,-0.022942,1.0
"San Francisco, CA",0.125352,0.015292,0.364258,-0.027155,1.0
"Flint, MI",0.334709,0.116400,0.260814,-0.127151,0.0
"Merced, CA",0.121019,-0.003199,0.670363,-0.014714,0.0
"Akron, OH",0.011857,0.087970,0.331427,-0.050005,0.0
"Pittsburgh, PA",0.048917,0.116837,0.426729,-0.015353,0.0
"Toledo, OH",0.147076,0.020913,0.249667,-0.074055,0.0
"St. Louis, MO/IL",0.008087,0.118158,0.677251,0.055991,0.0
"Visalia/Tulare/Porterville, CA",-0.001664,0.099555,0.565832,0.046453,0.0
"Syracuse, NY",0.134298,0.031699,0.328521,0.029867,0.0
"Youngstown/Warren, OH",0.319755,0.069786,0.241365,-0.092853,0.0

In [0]:

df2 = pd.DataFrame()
df2["MSA"] = combined_df.index
df2["Predictions"] = combined_df["Predicted indicator"].tolist()

df3 = df2

df3

                                      MSA  Predictions
0                             Abilene, TX          0.0
1                              Albany, GA          0.0
2             Albany/Schenectady/Troy, NY          0.0
3                         Albuquerque, NM          0.0
4                          Alexandria, LA          0.0
5          Allentown/Bethlehem/Easton, PA          0.0
6                             Altoona, PA          0.0
7                            Amarillo, TX          0.0
8                           Ann Arbor, MI          0.0
9                            Anniston, AL          0.0
10                             Athens, GA          1.0
11                     Auburn/Opelika, AL          1.0
12                   Augusta/Aiken, GA/SC          0.0
13                Barnstable/Yarmouth, MA          0.0
14                        Baton Rouge, LA          1.0
15               Beaumont/Port Arthur, TX          0.0
16                         Bellingham, WA          1.0
17                           Billings, MT          1.0
18                         Binghamton, NY          0.0
19                         Birmingham, AL          0.0
20                           Bismarck, ND          1.0
21                        Bloomington, IN          0.0
22                         Boise City, ID          1.0
23   Brownsville/Harlingen/San Benito, TX          1.0
24              Buffalo/Niagara Falls, NY          0.0
25                         Burlington, VT          0.0
26                             Casper, WY          1.0
27                       Cedar Rapids, IA          0.0
28                   Champaign/Urbana, IL          0.0
29                         Charleston, WV          0.0
..                                    ...          ...
184                            Wausau, WI          0.0
185                       Wheeling, WV/OH          0.0
186                     Wichita Falls, TX          0.0
187                           Wichita, KS          0.0
188                      Williamsport, PA          0.0
189                        Wilmington, NC          1.0
190                     Worchester, MA/CT          0.0
191                            Yakima, WA          0.0
192                              York, PA          0.0
193                              Yuma, AZ          1.0
194        Raleigh/Durham/Chapel Hill, NC          1.0
195                         San Diego, CA          1.0
196                          New York, NY          1.0
197               Washington, DC/MD/VA/WV          1.0
198                            Dallas, TX          1.0
199           Minneapolis/St. Paul, MN/WI          1.0
200                            Denver, CO          1.0
201                           Atlanta, GA          1.0
202                 Austin/San Marcos, TX          1.0
203                          San Jose, CA          1.0
204                     San Francisco, CA          1.0
205                             Flint, MI          0.0
206                            Merced, CA          0.0
207                             Akron, OH          0.0
208                        Pittsburgh, PA          0.0
209                            Toledo, OH          0.0
210                      St. Louis, MO/IL          0.0
211        Visalia/Tulare/Porterville, CA          0.0
212                          Syracuse, NY          0.0
213                 Youngstown/Warren, OH          0.0

[214 rows x 2 columns]

In [0]:
df4 = clean_msa2.loc[:, ["MSA", "County"]]
df4

                                 MSA       County
4                        Abilene, TX       Taylor
7                          Akron, OH      Portage
10                         Akron, OH       Summit
12                        Albany, GA    Dougherty
16                        Albany, GA          Lee
25       Albany/Schenectady/Troy, NY    Schoharie
26       Albany/Schenectady/Troy, NY  Schenectady
27       Albany/Schenectady/Troy, NY     Saratoga
38       Albany/Schenectady/Troy, NY   Montgomery
45       Albany/Schenectady/Troy, NY   Rensselaer
46       Albany/Schenectady/Troy, NY       Albany
48                   Albuquerque, NM   Bernalillo
49                   Albuquerque, NM     Valencia
50                   Albuquerque, NM     Sandoval
51                    Alexandria, LA      Rapides
53    Allentown/Bethlehem/Easton, PA       Carbon
57    Allentown/Bethlehem/Easton, PA  Northampton
59    Allentown/Bethlehem/Easton, PA       Lehigh
60                       Altoona, PA        Blair
63                      Amarillo, TX       Potter
64                      Amarillo, TX      Randall
66                     Ann Arbor, MI      Lenawee
70                     Ann Arbor, MI   Livingston
73                     Ann Arbor, MI    Washtenaw
74                      Anniston, AL      Calhoun
85       Appleton/Oshkosh/Neenah, WI      Calumet
86       Appleton/Oshkosh/Neenah, WI    Outagamie
89       Appleton/Oshkosh/Neenah, WI    Winnebago
90                     Asheville, NC     Buncombe
106                    Asheville, NC      Madison
...                              ...          ...
4074         Washington, DC/MD/VA/WV      Charles
4075         Washington, DC/MD/VA/WV      Calvert
4076                   Waterbury, CT    New Haven
4077                   Waterbury, CT   Litchfield
4078        Waterloo/Cedar Falls, IA   Black Hawk
4079                      Wausau, WI     Marathon
4080  West Palm Beach/Boca Raton, FL   Palm Beach
4083                 Wheeling, WV/OH         Ohio
4095                 Wheeling, WV/OH     Marshall
4096                 Wheeling, WV/OH      Belmont
4097               Wichita Falls, TX       Archer
4099               Wichita Falls, TX      Wichita
4100                     Wichita, KS       Harvey
4103                     Wichita, KS       Butler
4110                     Wichita, KS     Sedgwick
4111                Williamsport, PA     Lycoming
4112                  Wilmington, NC    Brunswick
4114                  Wilmington, NC  New Hanover
4115        Wilmington/Newark, DE/MD   New Castle
4116        Wilmington/Newark, DE/MD        Cecil
4117               Worchester, MA/CT      Windham
4121                      Yakima, WA       Yakima
4122                        Yolo, CA         Yolo
4125                        York, PA         York
4128           Youngstown/Warren, OH     Trumbull
4129           Youngstown/Warren, OH   Columbiana
4130           Youngstown/Warren, OH     Mahoning
4131                   Yuba City, CA         Yuba
4132                   Yuba City, CA       Sutter
4133                        Yuma, AZ         Yuma

[874 rows x 2 columns]

In [0]:
predictions_w_county = df4.merge(df3, on = "MSA", how = "left")
predictions_w_county2 = predictions_w_county.dropna()
predictions_w_county2[predictions_w_county2["County"] == "Suffolk"]

Empty DataFrame
Columns: [MSA, County, Predictions]
Index: []

In [0]:
from google.colab import files
predictions_w_county2.to_csv('finaldf.csv')
files.download('finaldf.csv')

In [0]:
print("Established:", sum(combined_df['Predicted indicator'] ==1))
print("Declined:", sum(combined_df['Predicted indicator'] ==0))

In [0]:
state_pred = pred_county.groupby('State_y').sum()
state_pred.sort_values("Predictions", ascending= False).reset_index()